.row-container {
	margin: 0 auto;
	padding: 0 10px;
	width: 975px; }

.row-fluid:before,
.row-fluid:after,
.row:before,
.row:after {
	content: "";
	display: table;
	font-size: 0;
	height: 0;
	line-height: 0; }

.row:after {
	clear: both; }

.row [class*="span"] {
	float: left;
	margin-left: 15px; }

.row [class*="span"]:first-child {
	margin-left: 0; }

.span18 {
	width: 975px; }

.span17 {
	width: 920px; }

.span16 {
	width: 865px; }

.span15 {
	width: 810px; }

.span14 {
	width: 755px; }

.span13 {
	width: 700px; }

.span12 {
	width: 645px; }

.span11 {
	width: 590px; }

.span10 {
	width: 535px; }

.span9 {
	width: 480px; }

.span8 {
	width: 425px; }

.span7 {
	width: 370px; }

.span6 {
	width: 315px; }

.span5 {
	width: 260px; }

.span4 {
	width: 205px; }

.span3 {
	width: 150px; }

.span2 {
	width: 95px; }

.span1 {
	width: 40px; }

.offset18 {
	margin-left: 1005px; }

.offset17 {
	margin-left: 950px; }

.offset16 {
	margin-left: 895px; }

.offset15 {
	margin-left: 840px; }

.offset14 {
	margin-left: 785px; }

.offset13 {
	margin-left: 730px; }

.offset12 {
	margin-left: 675px; }

.offset11 {
	margin-left: 620px; }

.offset10 {
	margin-left: 565px; }

.offset9 {
	margin-left: 510px; }

.offset8 {
	margin-left: 455px; }

.offset7 {
	margin-left: 400px; }

.offset6 {
	margin-left: 345px; }

.offset5 {
	margin-left: 290px; }

.offset4 {
	margin-left: 235px; }

.offset3 {
	margin-left: 180px; }

.offset2 {
	margin-left: 125px; }

.offset1 {
	margin-left: 70px; }

.row-fluid {
	width: 100%; }

.row-fluid [class*="span"] {
	box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	display: block;
	float: left;
	margin-left: 1.538461538;
	width: 100%; }

.row-fluid [class*="span"]:first-child {
	margin-left: 0; }

.row-fluid .span18 {
	width: 99.99999998199999%; }

.row-fluid .span17 {
	width: 94.358974342%; }

.row-fluid .span16 {
	width: 88.717948702%; }

.row-fluid .span15 {
	width: 83.07692306199999%; }

.row-fluid .span14 {
	width: 77.435897422%; }

.row-fluid .span13 {
	width: 71.794871782%; }

.row-fluid .span12 {
	width: 66.15384614199999%; }

.row-fluid .span11 {
	width: 60.512820502%; }

.row-fluid .span10 {
	width: 54.871794861999994%; }

.row-fluid .span9 {
	width: 49.230769222%; }

.row-fluid .span8 {
	width: 43.589743582%; }

.row-fluid .span7 {
	width: 37.948717942%; }

.row-fluid .span6 {
	width: 32.307692302%; }

.row-fluid .span5 {
	width: 26.666666661999997%; }

.row-fluid .span4 {
	width: 21.025641022%; }

.row-fluid .span3 {
	width: 15.384615382%; }

.row-fluid .span2 {
	width: 9.743589742%; }

.row-fluid .span1 {
	width: 4.102564102%; }

