section.profile-view div.helper-users div.sub-header {
	margin-bottom: 4px; }

section.profile-view div.helper-users ul.content-gallery {
	margin-top: 5px; }

	section.profile-view div.helper-users ul.content-gallery li {
		margin-bottom: 0;
		margin-top: 5px; }

section.profile-view div.helper-users ul.content-gallery li.three {
	margin-right: 0; }

div.helper-users figure.users-image .size_l,
div.helper-users figure.users-image div.size_l a.image {
	background-size: 100% auto;
	height: 60px;
	width: 60px; }

div.helper-users figure.users-image figcaption.image-caption {
	max-width: 60px; }
