<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/IE9.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div class="header-top clearfix">
            <p>Hong Kong Language Tutors Reviews Site</p>
            <ul class="clearfix">
                <li>Nickname</li>
                <li><a title="link1" href="#">Log Out</a></li>
            </ul>
        </div>
        <div class="header-mid clearfix">
            <a class="logo" title="logo" href="#"><img alt="logo" src="img/logo.png" width="223" height="119"/></a>
            <div class="greeting"><p>Hello,  <span>Nickname</span> !</p></div>
            <div class="right">
                <ul class="quick-links">
                    <li><a id="faq" title="FAQ" href="#">FAQ</a></li>
                    <li><a id="map" title="SITE MAP" href="#">Site Map</a></li>
                    <li><a id="contact" title="CONTACT" href="#">Contact Us</a></li>
                    <li><a id="fave" title="FAVE" href="#">My Favorite</a></li>
                </ul>
                <ul class="language">
                    <li><a title="Jap" href="#">日本語</a></li>
                    <li><a title="Eng" href="#">ENG</a></li>
                </ul>
                <ul class="char-size">
                    <li class="title">Font Size:</li>
                    <li><a title="Small" href="#">S</a></li>
                    <li><a class="current" title="Medium" href="#">M</a></li>
                    <li><a title="Bold" href="#">B</a></li>
                </ul>
            </div>
        </div>
        <div class="main-nav">
            <ul class="clearfix">
                <li><a href="#" class="arrow-1">Mypage Top</a></li>
                <li><a href="#" class="arrow-1">Message</a></li>
                <li class="active"><a class="arrow-2" href="#">Blog</a></li>
                <li><a href="#" class="arrow-2">Job</a></li>
                <li><a href="#" class="arrow-3">Profile</a></li>
            </ul>
        </div>
    </div>
    <div id="container">
        <div class="crumbs-menu clearfix">
            <ul class="crumbs">
                <li><a href="#">Home</a></li>
                <li>&gt;</li>
                <li><a href="#">Tutor Blog</a></li>
                <li>&gt;</li>
                <li><a href="#">Category Management</a></li>
            </ul>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Tutor Search</a></li>
                <li><a href="#">About Service</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Price List</a></li>
                <li><a href="#">Information</a></li>
            </ul>
        </div>
        <div class="page-title clearfix">
            <h2>Blog Management</h2>
            <div class="member-alert">
                <a class="button-upgrade" href="#">Upgrade Now</a>
                <ul>
                    <li>Member Type : <img src="img/type-Sliver.jpg" width="18" height="22" alt=""/> <a class="simple-tooltip" href="#" title="Silver"><img
                            src="img/icon-11.png"  alt=""/></a> </li>
                    <li><img src="img/icon-5.png" alt=""/>You have got <a href="#">0</a> new messages </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="sidebar-left">
                <div class="box">
                    <h2>Entry • Edit <a href="#" class="click"></a></h2>
                    <ul>
                        <li><a href="#">New Blog</a></li>
                        <li><a href="#">Edit • Delete Blog</a></li>
                        <li class="active"><a href="#">Category Management</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h2>Reader  •  Comments <a href="#" class="click"></a></h2>
                    <ul>
                        <li><a href="#">Reader Management</a></li>
                        <li><a href="#">Comments</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h2>Access <a href="#" class="click"></a></h2>
                    <ul>
                        <li><a href="#">Access Log</a></li>
                    </ul>
                </div>
            </div>
            <div class="main-content">
                <div class="category-management">
                    <h1>Category Management　</h1>
                    <table class="table-type-1" width="537">
                        <tr>
                            <th style="width: 130px">Category</th>
                            <th style="width: 182px">Title</th>
                            <th style="width: 120px">Create Date</th>
                            <th style="width: 100px">Delete</th>
                        </tr>
                        <tr>
                            <td><p>Category</p></td>
                            <td><a href="#">3</a></td>
                            <td><p>9/19/2013</p></td>
                            <td><a href="#" class="delete" title="Delete">Delete</a></td>
                        </tr>
                        <tr>
                            <td><p>Category</p></td>
                            <td><a href="#">3</a></td>
                            <td><p>9/19/2013</p></td>
                            <td><a href="#" class="delete" title="Delete">Delete</a></td>
                        </tr>
                        <tr>
                            <td><p>Category</p></td>
                            <td><a href="#">3</a></td>
                            <td><p>9/19/2013</p></td>
                            <td><a href="#" class="delete" title="Delete">Delete</a></td>
                        </tr>
                        <tr>
                            <td><p>Category</p></td>
                            <td><a href="#">3</a></td>
                            <td><p>9/19/2013</p></td>
                            <td><a href="#" class="delete" title="Delete">Delete</a></td>
                        </tr>
                        <tr>
                            <td><p>Category</p></td>
                            <td><a href="#">3</a></td>
                            <td><p>9/19/2013</p></td>
                            <td><a href="#" class="delete" title="Delete">Delete</a></td>
                        </tr>
                        <tr>
                            <td><p>Category</p></td>
                            <td><a href="#">3</a></td>
                            <td><p>9/19/2013</p></td>
                            <td><a href="#" class="delete" title="Delete">Delete</a></td>
                        </tr>
                        <tr>
                            <td><p>Category</p></td>
                            <td><a href="#">3</a></td>
                            <td><p>9/19/2013</p></td>
                            <td><a href="#" class="delete" title="Delete">Delete</a></td>
                        </tr>
                        <tr>
                            <td><p>Category</p></td>
                            <td><a href="#">3</a></td>
                            <td><p>9/19/2013</p></td>
                            <td><a href="#" class="delete" title="Delete">Delete</a></td>
                        </tr>
                        <tr>
                            <td><p>Category</p></td>
                            <td><a href="#">3</a></td>
                            <td><p>9/19/2013</p></td>
                            <td><a href="#" class="delete" title="Delete">Delete</a></td>
                        </tr>
                        <tr>
                            <td><p>Category</p></td>
                            <td><a href="#">3</a></td>
                            <td><p>9/19/2013</p></td>
                            <td><a href="#" class="delete" title="Delete">Delete</a></td>
                        </tr>
                        <tr>
                            <td><p>Category</p></td>
                            <td><a href="#">3</a></td>
                            <td><p>9/19/2013</p></td>
                            <td><a href="#" class="delete" title="Delete">Delete</a></td>
                        </tr>
                        <tr>
                            <td><p>Category</p></td>
                            <td><a href="#">3</a></td>
                            <td><p>9/19/2013</p></td>
                            <td><a href="#" class="delete" title="Delete">Delete</a></td>
                        </tr>
                        <tr>
                            <td><p>Category</p></td>
                            <td><a href="#">3</a></td>
                            <td><p>9/19/2013</p></td>
                            <td><a href="#" class="delete" title="Delete">Delete</a></td>
                        </tr>
                        <tr>
                            <td><p>Category</p></td>
                            <td><a href="#">3</a></td>
                            <td><p>9/19/2013</p></td>
                            <td><a href="#" class="delete" title="Delete">Delete</a></td>
                        </tr>
                    </table>
                    <a  class="button-next" href="#">Next</a>
                </div>
            </div>
            <div class="sidebar-right">
                <div class="calendar">
                    <h2>Calendar</h2>
                    <div class="calendar-inline">
                        <div class="year-month clearfix">
                            <div class="year">
                                <a class="prev-year" href="#" title="Previous year">&lt;</a>
                                <p>2013</p>
                                <a class="next-year" href="#" title="Next year">&gt;</a>
                            </div>
                            <div class="month">
                                <a class="prev-month" href="#" title="Previous month">&lt;&lt;</a>
                                <p>SEP</p>
                                <a class="next-month" href="#" title="Next month">&gt;&gt;</a>
                            </div>
                        </div>
                        <div class="table-calendar">
                            <table cellspacing="2" class="jCalendar">
                                <thead>
                                <tr>
                                    <th title="Sunday" class="weekend">S</th>
                                    <th title="Monday" class="weekday">M</th>
                                    <th title="Tuesday" class="weekday">T</th>
                                    <th title="Wednesday" class="weekday">W</th>
                                    <th title="Thursday" class="weekday">T</th>
                                    <th title="Friday" class="weekday">F</th>
                                    <th title="Saturday" class="weekend">S</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="other-month weekday"></td>
                                    <td class="other-month weekday"></td>
                                    <td class="other-month weekday"></td>
                                    <td class="other-month weekday"></td>
                                    <td class="other-month weekday"></td>
                                    <td class="other-month weekend"></td>
                                    <td class="current-month weekend today"><a href="#">1</a></td>
                                </tr>
                                <tr>
                                    <td class="current-month weekday">2</td>
                                    <td class="current-month weekday">3</td>
                                    <td class="current-month weekday">4</td>
                                    <td class="current-month weekday">5</td>
                                    <td class="current-month weekday">6</td>
                                    <td class="current-month weekend">7</td>
                                    <td class="current-month weekend">8</td>
                                </tr>
                                <tr>
                                    <td class="current-month weekday">9</td>
                                    <td class="current-month weekday">10</td>
                                    <td class="current-month weekday">11</td>
                                    <td class="current-month weekday">12</td>
                                    <td class="current-month weekday">13</td>
                                    <td class="current-month weekend">14</td>
                                    <td class="current-month weekend">15</td>
                                </tr>
                                <tr>
                                    <td class="current-month weekday">16</td>
                                    <td class="current-month weekday">17</td>
                                    <td class="current-month weekday">18</td>
                                    <td class="current-month weekday">19</td>
                                    <td class="current-month weekday">20</td>
                                    <td class="current-month weekend">21</td>
                                    <td class="current-month weekend">22</td>
                                </tr>
                                <tr>
                                    <td class="current-month weekday">23</td>
                                    <td class="current-month weekday">24</td>
                                    <td class="current-month weekday ">25</td>
                                    <td class="current-month weekday ">26</td>
                                    <td class="current-month weekday ">27</td>
                                    <td class="current-month weekend ">28</td>
                                    <td class="current-month weekend ">29</td>
                                </tr>
                                <tr>
                                    <td class="current-month weekday ">30</td>
                                    <td class="other-month weekday "></td>
                                    <td class="other-month weekday"></td>
                                    <td class="other-month weekday"></td>
                                    <td class="other-month weekday "></td>
                                    <td class="other-month weekend "></td>
                                    <td class="other-month weekend "></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <h3><span>Latest Title</span></h3>
                    <ul>
                        <li><a href="#">Language and Culture</a></li>
                        <li><a href="#">English Pronunciation</a></li>
                        <li><a href="#">Japanese Pronunciation</a></li>
                    </ul>
                </div>
                <div class="links">
                    <h3><span>Latest Comment</span></h3>
                    <ul>
                        <li><a href="#">xxxxxx</a></li>
                        <li><a href="#">xxxxxx</a></li>
                        <li><a href="#">xxxxxx</a></li>
                    </ul>
                </div>
                <div class="links">
                    <h3><span>Category</span></h3>
                    <ul>
                        <li>Category（Number)</li>
                        <li>Category（Number)</li>
                        <li>Category（Number)</li>
                        <li>Category（Number)</li>
                        <li>Category（Number)</li>
                        <li>Category（Number)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
            <ul class="foot-links">
                <li><a title="link1" href="#">Site Map</a></li>
                <li>|</li>
                <li><a title="link2" href="#">Privacy Policy</a></li>
                <li>|</li>
                <li><a title="link3" href="#">Terms of Membership</a></li>
                <li>|</li>
                <li><a title="link4" href="#">Terms &amp; Conditions</a></li>
                <li>|</li>
                <li><a title="link4" href="#">Contact Us</a></li>
            </ul>
            <p>Copyright © TutorNavi All rights reserved.</p>
            <a class="foot-logo" title="Logo" href="#"><img alt="Logo" src="img/logo-footer.png" width="97" height="55"/></a>
    </div>
</div>
</body>
</html>