<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Choosing Laguange Tutor</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/custom.css" rel="stylesheet" type="text/css" />
	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/pngfix.css">
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie6.css">
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie7.css">
	<![endif]-->
	</head>

	<body>
		<div class="wrapper clearfix">
			<div id="header" class="clearfix">
				<div class="header-top">
					<div class="inner-wrap clearfix">
						<p>Hong Kong Language Tutors Reviews Site</p>
						<ul class="clearfix">
							<li><a title="link2" href="#">Login</a></li>
							<li><a title="link1" href="#">Register</a></li>
						</ul>
					</div>
				</div><!--END OF HEADER TOP-->
				<div class="header-mid clearfix">
					<div class="inner-wrap clearfix">
						<a id="logo" title="logo" href="#"><img alt="logo" src="images/logo.jpg" /></a>
						<p class="greeting">Hello,  <span>Visitor</span>！</p>
						<div class="right">
							<ul class="quick-links clearfix">
								<li><a id="fave" title="FAVE" href="#">My Favorite</a></li>
								<li><a id="contact" title="CONTACT" href="#">Contact Us</a></li>
								<li><a id="map" title="SITE MAP" href="#">Site Map</a></li>
								<li><a id="faq" title="FAQ" href="#">FAQ</a></li>
							</ul><!--END OF QUICK LINKS-->
							<ul class="language clearfix">									
								<li><a title="Eng" href="#">ENG</a></li>
								<li><a title="Jap" href="#">日本語</a></li>
							</ul><!--END OF LANGUAGE-->
							<ul class="char-size clearfix">
								<li><a title="Bold" href="#">B</a></li>
								<li><a class="current" title="Medium" href="#">M</a></li>
								<li><a title="Small" href="#">S</a></li>
								<li class="title">Font Size:</li>
							</ul><!--END OF CHAR SIZE-->
							<a id="mypage" title="My Page" href="#">My Page</a>
						</div>
					</div>
				</div><!--END OF HEADER MID-->
				<div id="nav">
					<div class="inner-wrap clearfix">
						<ul class="clearfix">
							<li><a class="current" title="menu1" href="#">Home</a></li>
							<li><a title="menu2" href="#">Tutor Search</a></li>
							<li><a title="menu3" href="#">About Service</a></li>
							<li><a title="menu4" href="#">Community</a></li>
							<li><a title="menu5" href="#">Price List</a></li>
							<li class="last"><a title="menu6" href="#">Information</a></li>
						</ul>
					</div>
				</div><!--END OF NAV-->
			</div><!--END OF HEADER-->
			
			<!--START OF PAGE CONTENT-->
			<div class="content-wrap">
				<div id="content" class="clearfix">
					<ul class="crumbs clearfix">
						<li>Home</li>
						<li>></li>
						<li><a title="Home" href="#">Information</a></li>
						<li>></li>
						<li>How to Choose</li>
					</ul>
					<div class="choosing two_col clearfix">
						<div class="left_col clearfix">
							<ul class="sidebar clearfix">
								<li><a class="current" title="topic1" href="#">How to Choose your Language Tutor</a></li>
								<li><a title="topic2" href="#">The Advantage of Private Lesson</a></li>
								<li><a title="topic3" href="#">Information of Langauge Tests</a></li>
								<li><a title="topic4" href="#">Teaching Certificate of Language Tutors</a></li>
								<li><a title="topic5" href="#">Advice for Students</a></li>
								<li><a title="topic6" href="#">Advice for Tutors</a></li>
							</ul>
						</div><!--END OF LEFT COL-->
							
						<div class="right_col clearfix">
							<div class="tip_head">
								<img alt="How To Choose a Language Tutor" src="images/img_choose_tutor.jpg" />
							</div>
							<div class="info_list">
								<ul class="clearfix">
									<li>
										<p class="title">Check “Where is the tutor willing to travel to teach?”</p>
										<p>Hong Kong consists of Hong Kong Island, the Kowloon Peninsula, the New Territories, and over 200 offshore islands, of which    
											  the largest is Lantau Island. It is easy and convenient to travel around HK.. However, not all the tutors registered with TutoNavi 
											  are willing to travel all around HK..Some tutors prefer to teach closer to their home or workplace.Check tutor’s personal profile
											  carefully to find a suitable tutor.
										 </p>
									</li>
									<li>
										<p class="title">Check “Is the tutor qualified?”</p>
										<p>TutorNavi provides a service to help tutors and students connect and to help students find the perfect language tutor.However, not all the native foreign language tutors are qualified to be tutors. Here, we list the following points to help the student find a suitable tutor.</p>
										<p> Is the tutor who’s graduated from a top university always a qualified tutor? The answer is “NO”.</p>
										<p>A qualified tutor should be good at communication, have a great personality and posses a strong passion for teaching.</p>
									</li>
									<li>
										<p class="title">Check “What is the tutor’s teaching method?”</p>
										<p>Before the lesson, the student is able to ask the tutor questions using our internal messaging system. Remember to ask the 
											  tutor what their method of teaching is. Because every student is unique, and their reasons for learning a language may be
											  different, a great teaching method may not fit every student. It’s important to make sure the tutor’s teaching style suits the 
											  student.
										</p>
									</li>
									<li>
										<p class="title">Check “Does the tutor has teaching experience at a language school?”</p>
										<p>The tutors registered with TutorNavi have varying teaching experiences and teaching styles. We cannot expect perfect results            
											  from every tutor. all perfect teaching resuls from all the registered tutors.The tutor who has had experience teaching at language 
											  schools is more likely to have a well-trained teaching style.
										</p>
									</li>
									<li>
										<p class="title">Check “Tutor’s age,interests and character?”</p>
										<p>By choosing a tutor who is in the same age range, with similar interests, the student will have more topics to discuss with the tutor in order to practice speaking.. Also, the student will feel free to ask the tutor more questions. </p>
									</li>
									<li>
										<p class="title">Check “Tutor’s blogs and comments, etc.”</p>
										<p>The student will get to know the tutor better by reading the blogs which are written by the tutor and by reading other students’ comments about the tutor. </p>
									</li>
									<li>
										<p class="title">Check “When is the tutor available?”</p>
										<p>Not all the tutors are available 24 hours, check tutor’s schedule for teaching on tutor’s profile.</p>
									</li>
								</ul>
							</div>
							<div class="link_wrap clearfix">
							<a class="back-top" href="#" title="Back to Home">Back to Home</a>
							<a title="Back to Home" href="#" class="to-top">Back to Top</a>
							</div>
						</div><!--END OF RIGHT COL-->
					</div>
				</div><!--END OF CONTENT-->
				<div id="footer">
					<div class="foot-wrap clearfix">
						<ul class="foot-links clearfix">
							<li><a title="link1" href="#">Site Map</a></li>
							<li>|</li>
							<li><a title="link2" href="#">Privacy Policy</a></li>
							<li>|</li>
							<li><a title="link3" href="#">Terms of Membership</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Terms &amp; Conditions</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Contact Us</a></li>
						</ul>
						<p>Copyright &copy; TutorNavi All rights reserved.</p>
						<a class="foot-logo" title="Logo" href="#"><img alt="Logo" src="images/logo2.png" /></a>
					</div>
					<div class="shadow"></div>
				</div><!--END OF FOOTER-->
				
			</div>
			<!--END OF PAGE CONTENT-->

		</div><!--END OF WRAPPER-->
	</body>
</html>
