<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Community</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/custom.css" rel="stylesheet" type="text/css" />
	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/pngfix.css">
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie6.css">
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie7.css">
	<![endif]-->
	</head>

	<body>
		<div class="wrapper clearfix">
			<div id="header" class="clearfix">
				<div class="header-top">
					<div class="inner-wrap clearfix">
						<p>Hong Kong Language Tutors Reviews Site</p>
						<ul class="clearfix">
							<li><a title="link2" href="#">Login</a></li>
							<li><a title="link1" href="#">Register</a></li>
						</ul>
					</div>
				</div><!--END OF HEADER TOP-->
				<div class="header-mid clearfix">
					<div class="inner-wrap clearfix">
						<a id="logo" title="logo" href="#"><img alt="logo" src="images/logo.jpg" /></a>
						<p class="greeting">Hello,  <span>Visitor</span>！</p>
						<div class="right">
							<ul class="quick-links clearfix">
								<li><a id="fave" title="FAVE" href="#">My Favorite</a></li>
								<li><a id="contact" title="CONTACT" href="#">Contact Us</a></li>
								<li><a id="map" title="SITE MAP" href="#">Site Map</a></li>
								<li><a id="faq" title="FAQ" href="#">FAQ</a></li>
							</ul><!--END OF QUICK LINKS-->
							<ul class="language clearfix">									
								<li><a title="Eng" href="#">ENG</a></li>
								<li><a title="Jap" href="#">日本語</a></li>
							</ul><!--END OF LANGUAGE-->
							<ul class="char-size clearfix">
								<li><a title="Bold" href="#">B</a></li>
								<li><a class="current" title="Medium" href="#">M</a></li>
								<li><a title="Small" href="#">S</a></li>
								<li class="title">Font Size:</li>
							</ul><!--END OF CHAR SIZE-->
							<a id="mypage" title="My Page" href="#">My Page</a>
						</div>
					</div>
				</div><!--END OF HEADER MID-->
				<div id="nav">
					<div class="inner-wrap clearfix">
						<ul class="clearfix">
							<li><a class="current" title="menu1" href="#">Home</a></li>
							<li><a title="menu2" href="#">Tutor Search</a></li>
							<li><a title="menu3" href="#">About Service</a></li>
							<li><a title="menu4" href="#">Community</a></li>
							<li><a title="menu5" href="#">Price List</a></li>
							<li class="last"><a title="menu6" href="#">Information</a></li>
						</ul>
					</div>
				</div><!--END OF NAV-->
			</div><!--END OF HEADER-->
			
			<!--START OF PAGE CONTENT-->
			<div class="content-wrap">
				<div id="content" class="clearfix">
					<ul class="crumbs clearfix">
						<li><a title="Home" href="#">Home</a></li>
						<li>></li>
						<li>Community</li>
					</ul>
					
					<div class="community_wrap clearfix">
						<img class="com_head" alt="Community" src="images/img_community.jpg" />
						<div class="com_links clearfix">
							<p>Only Members will be able to post and make a reply.</p>
							<a title="Login" href="#">Login</a>
							<a title="Register" href="#">Register</a>
						</div>
						<div class="com_inner clearfix">
							<div class="post_note">
								<p>Registered students will be able to make a post at the“Community” page and ask any questions regarding language learning, <br/>(e.g. how to choose your language study books, grammar confusion, etc.) Then they will get a reply from the tutors.</p>
								<form class="form1" action="#">
										<input type="checkbox" id="agree"/>
									<label for="agree" class="agree">I have read and agreed to <a title="terms" href="#">Terms and Conditions</a></label><br/>
									<span>※Please click the check box if you are agree.</span>
									<input type="submit" id="new_post" value="New Post" />
								</form>
							</div>
                            
								<div class="side_cat">
									<p>Category</p>
									<ul class="clearfix">
										<li><a title="a" href="#">Textbook Selection</a></li>
										<li><a title="b" href="#">Pronunciation</a></li>
										<li><a title="c" href="#">Grammar</a></li>
										<li><a title="d" href="#">Speaking</a></li>
										<li><a class="current" title="e" href="#">Exam Preparation</a></li>
										<li><a title="f" href="#">Study Method</a></li>
										<li><a title="g" href="#">Language Schools</a></li>
										<li><a title="h" href="#">Others</a></li>
									</ul>
									<div class="shadow"></div>
								</div><!--END OF SIDE CATE-->
								
								<div class="com_right clearfix">
									<ul class="lang_list clearfix">
										<li class="all"><a title="a" href="#">All</a></li>
										<li><a title="b" href="#">English</a></li>
										<li><a title="c" href="#">Cantonese</a></li>
										<li><a class="current" title="d" href="#">Mandarin</a></li>
										<li><a title="e" href="#">Japanese</a></li>
										<li><a title="f" href="#">Korean</a></li>
										<li><a title="g" href="#">French</a></li>
										<li><a title="h" href="#">German</a></li>
										<li><a title="i" href="#">Spanish</a></li>
									</ul>
									<table id="com_tbl" cellspacing="0" cellpadding="0" border="0">
										<tr>
											<th class="col1">No.</th>
											<th class="col2">Topic</th>
											<th class="col3">Views</th>
											<th class="col4">Replies</th>
											<th class="col5">Nickname</th>
											<th class="col6">Post Date</th>
										</tr>
										<tr>
											<td class="col1">1</td>
											<td class="col2"><a title="topic" href="#">Receive Chinese Proficiency Test</a></td>
											<td class="col3">23</td>
											<td class="col4">3</td>
											<td class="col5">Minoka</td>
											<td class="col6">2012/08/09</td>
										</tr>
										<tr>
											<td class="col1">2</td>
											<td class="col2"><a title="topic" href="#">Receive Chinese Proficiency Test</a></td>
											<td class="col3">23</td>
											<td class="col4">3</td>
											<td class="col5">Minoka</td>
											<td class="col6">2012/08/09</td>
										</tr>
										<tr>
											<td class="col1">3</td>
											<td class="col2"><a title="topic" href="#">Receive Chinese Proficiency Test</a></td>
											<td class="col3">23</td>
											<td class="col4">3</td>
											<td class="col5">Minoka</td>
											<td class="col6">2012/08/09</td>
										</tr>
										<tr>
											<td class="col1">4</td>
											<td class="col2"><a title="topic" href="#">Receive Chinese Proficiency Test</a></td>
											<td class="col3">23</td>
											<td class="col4">3</td>
											<td class="col5">Minoka</td>
											<td class="col6">2012/08/09</td>
										</tr>
										<tr>
											<td class="col1">5</td>
											<td class="col2"><a title="topic" href="#">Receive Chinese Proficiency Test</a></td>
											<td class="col3">23</td>
											<td class="col4">3</td>
											<td class="col5">Minoka</td>
											<td class="col6">2012/08/09</td>
										</tr>
										<tr>
											<td class="col1">6</td>
											<td class="col2"><a title="topic" href="#">Receive Chinese Proficiency Test</a></td>
											<td class="col3">23</td>
											<td class="col4">3</td>
											<td class="col5">Minoka</td>
											<td class="col6">2012/08/09</td>
										</tr>
										<tr>
											<td class="col1">7</td>
											<td class="col2"><a title="topic" href="#">Receive Chinese Proficiency Test</a></td>
											<td class="col3">23</td>
											<td class="col4">3</td>
											<td class="col5">Minoka</td>
											<td class="col6">2012/08/09</td>
										</tr>
										<tr>
											<td class="col1">8</td>
											<td class="col2"><a title="topic" href="#">Receive Chinese Proficiency Test</a></td>
											<td class="col3">23</td>
											<td class="col4">3</td>
											<td class="col5">Minoka</td>
											<td class="col6">2012/08/09</td>
										</tr>
										<tr>
											<td class="col1">9</td>
											<td class="col2"><a title="topic" href="#">Receive Chinese Proficiency Test</a></td>
											<td class="col3">23</td>
											<td class="col4">3</td>
											<td class="col5">Minoka</td>
											<td class="col6">2012/08/09</td>
										</tr>
										<tr>
											<td class="col1">10</td>
											<td class="col2"><a title="topic" href="#">Receive Chinese Proficiency Test</a></td>
											<td class="col3">23</td>
											<td class="col4">3</td>
											<td class="col5">Minoka</td>
											<td class="col6">2012/08/09</td>
										</tr>
										<tr>
											<td class="col1">11</td>
											<td class="col2"><a title="topic" href="#">Receive Chinese Proficiency Test</a></td>
											<td class="col3">23</td>
											<td class="col4">3</td>
											<td class="col5">Minoka</td>
											<td class="col6">2012/08/09</td>
										</tr>
										<tr>
											<td class="col1">12</td>
											<td class="col2"><a title="topic" href="#">Receive Chinese Proficiency Test</a></td>
											<td class="col3">23</td>
											<td class="col4">3</td>
											<td class="col5">Minoka</td>
											<td class="col6">2012/08/09</td>
										</tr>
										<tr>
											<td class="col1">13</td>
											<td class="col2"><a title="topic" href="#">Receive Chinese Proficiency Test</a></td>
											<td class="col3">23</td>
											<td class="col4">3</td>
											<td class="col5">Minoka</td>
											<td class="col6">2012/08/09</td>
										</tr>
										<tr>
											<td class="col1">14</td>
											<td class="col2"><a title="topic" href="#">Receive Chinese Proficiency Test</a></td>
											<td class="col3">23</td>
											<td class="col4">3</td>
											<td class="col5">Minoka</td>
											<td class="col6">2012/08/09</td>
										</tr>
										<tr>
											<td class="col1">15</td>
											<td class="col2"><a title="topic" href="#">Receive Chinese Proficiency Test</a></td>
											<td class="col3">23</td>
											<td class="col4">3</td>
											<td class="col5">Minoka</td>
											<td class="col6">2012/08/09</td>
										</tr>
									</table>
									<ul class="page_nav clearfix">
										<li><a title="prev" href="#"><img alt="prev" src="images/page_next.jpg" /></a></li>
										<li><a title="prev" href="#">10</a></li>
										<li><a title="prev" href="#">9</a></li>
										<li><a title="prev" href="#">8</a></li>
										<li><a title="prev" href="#">7</a></li>
										<li><a title="prev" href="#">6</a></li>
										<li><a title="prev" href="#">5</a></li>
										<li><a title="prev" href="#">4</a></li>
										<li><a title="prev" href="#">3</a></li>
										<li class="current"><a title="prev" href="#">2</a></li>
										<li><a title="prev" href="#">1</a></li>
										<li><a title="prev" href="#"><img alt="prev" src="images/page_prev.jpg" /></a></li>										
									</ul>
								</div><!--END OF CAT CONTENT-->
								<div class="link_wrap">
									<a class="back-top" href="#" title="Back to Home">Back to Home</a> &nbsp;
								</div>
						</div><!--END OF COM INNER-->
					</div><!--END OF COMMUNITY WRAP-->
					
				</div><!--END OF CONTENT-->
				<div id="footer">
					<div class="foot-wrap clearfix">
						<ul class="foot-links clearfix">
							<li><a title="link1" href="#">Site Map</a></li>
							<li>|</li>
							<li><a title="link2" href="#">Privacy Policy</a></li>
							<li>|</li>
							<li><a title="link3" href="#">Terms of Membership</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Terms &amp; Conditions</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Contact Us</a></li>
						</ul>
						<p>Copyright &copy; TutorNavi All rights reserved.</p>
						<a class="foot-logo" title="Logo" href="#"><img alt="Logo" src="images/logo2.png" /></a>
					</div>
					<div class="shadow"></div>
				</div><!--END OF FOOTER-->
				
			</div>
			<!--END OF PAGE CONTENT-->

		</div><!--END OF WRAPPER-->
	</body>
</html>
