<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/sparkbox-select.css"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/IE9.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.sparkbox-select.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.sparkbox-custom').sbCustomSelect();
        });
    </script>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div class="header-top clearfix">
            <p>Hong Kong Language Tutors Reviews Site</p>
            <ul class="clearfix">
                <li>
                    <a href="#"  class="notify">6</a>
                    <div class="notify-content">
                        <h4>Your notifications</h4>
                        <ul class="clearfix">
                            <li>
                                <div class="left">
                                    <a href="#"><img src="img/avatar-1.jpg" width="30px" height="30px" alt=""/></a>
                                </div>
                                <div class="right">
                                    <p><a href="#">Nickname</a> commented on <a href="#">your xxxxx (blog title)</a></p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <a href="#"><img src="img/avatar-1.jpg" width="30px" height="30px" alt=""/></a>
                                </div>
                                <div class="right">
                                    <p><a href="#">Nickname</a> commented on <a href="#">your xxxxx (blog title)</a></p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <a href="#"><img src="img/avatar-1.jpg" width="30px" height="30px" alt=""/></a>
                                </div>
                                <div class="right">
                                    <p><a href="#">Nickname</a> commented on <a href="#">your xxxxx (blog title)</a></p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <a href="#"><img src="img/avatar-1.jpg" width="30px" height="30px" alt=""/></a>
                                </div>
                                <div class="right">
                                    <p><a href="#">Nickname</a> commented on <a href="#">your xxxxx (blog title)</a></p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <a href="#"><img src="img/avatar-1.jpg" width="30px" height="30px" alt=""/></a>
                                </div>
                                <div class="right">
                                    <p><a href="#">Nickname</a> commented on <a href="#">your xxxxx (blog title)</a></p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <a href="#"><img src="img/avatar-1.jpg" width="30px" height="30px" alt=""/></a>
                                </div>
                                <div class="right">
                                    <p><a href="#">Nickname</a> commented on <a href="#">your xxxxx (blog title)</a></p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>Nick name</li>
                <li><a title="link1" href="#">Log Out</a></li>
            </ul>
        </div>
        <div class="header-mid clearfix">
            <a class="logo" title="logo" href="#"><img alt="logo" src="img/logo.png" width="223" height="119"/></a>
            <div class="greeting"><p>Hello,  <span>Nickname</span> !</p></div>
            <div class="right">
                <ul class="quick-links">
                    <li><a id="faq" title="FAQ" href="#">FAQ</a></li>
                    <li><a id="map" title="SITE MAP" href="#">Site Map</a></li>
                    <li><a id="contact" title="CONTACT" href="#">Contact Us</a></li>
                    <li><a id="fave" title="FAVE" href="#">My Favorite</a></li>
                </ul>
                <ul class="language">
                    <li><a title="Jap" href="#">日本語</a></li>
                    <li><a title="Eng" href="#">ENG</a></li>
                </ul>
                <ul class="char-size">
                    <li class="title">Font Size:</li>
                    <li><a title="Small" href="#">S</a></li>
                    <li><a class="current" title="Medium" href="#">M</a></li>
                    <li><a title="Bold" href="#">B</a></li>
                </ul>
            </div>
        </div>
        <div class="main-nav">
            <ul class="clearfix">
                <li><a href="#" class="arrow-1">Mypage Top</a></li>
                <li class="active"><a href="#" class="arrow-1">Message</a></li>
                <li><a class="arrow-2" href="#">Blog</a></li>
                <li><a href="#" class="arrow-2">Job</a></li>
                <li><a href="#" class="arrow-3">Profile</a></li>
            </ul>
        </div>
    </div>
    <div id="container" class="two-col">
        <div class="crumbs-menu clearfix">
            <ul class="crumbs">
                <li><a href="#">Home</a></li>
                <li>&gt;</li>
                <li><a href="#">Tutor Message</a></li>
                <li>&gt;</li>
                <li><a href="#">Favorite Tutor Confrim</a></li>
            </ul>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Tutor Search</a></li>
                <li><a href="#">About Service</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Price List</a></li>
                <li><a href="#">Information</a></li>
            </ul>
        </div>
        <div class="page-title clearfix">
            <h2>Message</h2>
            <div class="member-alert">
                <a class="button-upgrade" href="#">Upgrade Now</a>
                <ul>
                    <li>Member Type : <img src="img/type-Sliver.jpg" width="18" height="22" alt=""/> <a class="simple-tooltip" href="#" title="Silver"><img
                            src="img/icon-11.png"  alt=""/></a> </li>
                    <li><img src="img/icon-5.png" alt=""/>You have got <a href="#">0</a> new messages </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="sidebar-left">
                <div class="box">
                    <h2>Message <a href="#" class="click"></a></h2>
                    <ul>
                        <li><a href="#">Inbox (2)</a></li>
                        <li><a href="#">Sent (3)</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h2>Favourite Tutor  <a href="#" class="click"></a></h2>
                    <ul>
                        <li class="active"><a href="#">Favourite Tutor Confirm</a></li>
                    </ul>
                </div>
            </div>
            <div class="main-content">
                <div class="favorite-tutor-confirm inbox-messages">
                    <h1>Favorite Tutor Confirm　</h1>
                    <div class="text clearfix">
                        <p>This page shows the students who are interested in the lessons you provide, and added you into “Favorite Tutor List”. If the student deletes you
                            from “Favorite Tutor List”, his or her name will not show in the following list. Click“Write Blog” to start your blog today, this is a great way to
                            promote yourself and get more students.<br/>
                            ※ Once your blog is approved by our site admin, your blog will be shown on the top of the Tutor Blog page. Start your blog today !<br/>
                            ※ Tutor is not able to delete the students who have added you into “Favourite Tutor List”
                        </p>
                        <a class="button" href="#">Membership Features</a>
                    </div>
                    <div class="favorite-tutor-table">
                        <a class="button-write-blog"  href="#"> Write Blog</a>
                        <table class="table-type-1">
                            <tr>
                                <th style="width: 164px">Student Nickname</th>
                                <th style="width: 130px">Gender</th>
                                <th style="width: 140px">Nationality</th>
                                <th style="width: 150px">Date</th>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Judy</a></p>
                                </td>
                                <td>
                                    <p>Female</p>
                                </td>
                                <td>
                                    <p>Chinese</p>
                                </td>
                                <td>
                                    <p>2012/09/20</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Judy</a></p>
                                </td>
                                <td>
                                    <p>Female</p>
                                </td>
                                <td>
                                    <p>Chinese</p>
                                </td>
                                <td>
                                    <p>2012/09/20</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Judy</a></p>
                                </td>
                                <td>
                                    <p>Female</p>
                                </td>
                                <td>
                                    <p>Chinese</p>
                                </td>
                                <td>
                                    <p>2012/09/20</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Judy</a></p>
                                </td>
                                <td>
                                    <p>Female</p>
                                </td>
                                <td>
                                    <p>Chinese</p>
                                </td>
                                <td>
                                    <p>2012/09/20</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Judy</a></p>
                                </td>
                                <td>
                                    <p>Female</p>
                                </td>
                                <td>
                                    <p>Chinese</p>
                                </td>
                                <td>
                                    <p>2012/09/20</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Judy</a></p>
                                </td>
                                <td>
                                    <p>Female</p>
                                </td>
                                <td>
                                    <p>Chinese</p>
                                </td>
                                <td>
                                    <p>2012/09/20</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Judy</a></p>
                                </td>
                                <td>
                                    <p>Female</p>
                                </td>
                                <td>
                                    <p>Chinese</p>
                                </td>
                                <td>
                                    <p>2012/09/20</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Judy</a></p>
                                </td>
                                <td>
                                    <p>Female</p>
                                </td>
                                <td>
                                    <p>Chinese</p>
                                </td>
                                <td>
                                    <p>2012/09/20</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Judy</a></p>
                                </td>
                                <td>
                                    <p>Female</p>
                                </td>
                                <td>
                                    <p>Chinese</p>
                                </td>
                                <td>
                                    <p>2012/09/20</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Judy</a></p>
                                </td>
                                <td>
                                    <p>Female</p>
                                </td>
                                <td>
                                    <p>Chinese</p>
                                </td>
                                <td>
                                    <p>2012/09/20</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Judy</a></p>
                                </td>
                                <td>
                                    <p>Female</p>
                                </td>
                                <td>
                                    <p>Chinese</p>
                                </td>
                                <td>
                                    <p>2012/09/20</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Judy</a></p>
                                </td>
                                <td>
                                    <p>Female</p>
                                </td>
                                <td>
                                    <p>Chinese</p>
                                </td>
                                <td>
                                    <p>2012/09/20</p>
                                </td>
                            </tr>
                        </table>
                        <a href="#" class="button-next">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
            <ul class="foot-links">
                <li><a title="link1" href="#">Site Map</a></li>
                <li>|</li>
                <li><a title="link2" href="#">Privacy Policy</a></li>
                <li>|</li>
                <li><a title="link3" href="#">Terms of Membership</a></li>
                <li>|</li>
                <li><a title="link4" href="#">Terms &amp; Conditions</a></li>
                <li>|</li>
                <li><a title="link4" href="#">Contact Us</a></li>
            </ul>
            <p>Copyright © TutorNavi All rights reserved.</p>
            <a class="foot-logo" title="Logo" href="#"><img alt="Logo" src="img/logo-footer.png" width="97" height="55"/></a>
    </div>
</div>
</body>
</html>