<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Language Test</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/custom.css" rel="stylesheet" type="text/css" />
	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/pngfix.css">
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie6.css">
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie7.css">
	<![endif]-->
	</head>

	<body>
		<div class="wrapper clearfix">
			<div id="header" class="clearfix">
				<div class="header-top">
					<div class="inner-wrap clearfix">
						<p>Hong Kong Language Tutors Reviews Site</p>
						<ul class="clearfix">
							<li><a title="link2" href="#">Login</a></li>
							<li><a title="link1" href="#">Register</a></li>
						</ul>
					</div>
				</div><!--END OF HEADER TOP-->
				<div class="header-mid clearfix">
					<div class="inner-wrap clearfix">
						<a id="logo" title="logo" href="#"><img alt="logo" src="images/logo.jpg" /></a>
						<p class="greeting">Hello,  <span>Visitor</span>！</p>
						<div class="right">
							<ul class="quick-links clearfix">
								<li><a id="fave" title="FAVE" href="#">My Favorite</a></li>
								<li><a id="contact" title="CONTACT" href="#">Contact Us</a></li>
								<li><a id="map" title="SITE MAP" href="#">Site Map</a></li>
								<li><a id="faq" title="FAQ" href="#">FAQ</a></li>
							</ul><!--END OF QUICK LINKS-->
							<ul class="language clearfix">									
								<li><a title="Eng" href="#">ENG</a></li>
								<li><a title="Jap" href="#">日本語</a></li>
							</ul><!--END OF LANGUAGE-->
							<ul class="char-size clearfix">
								<li><a title="Bold" href="#">B</a></li>
								<li><a class="current" title="Medium" href="#">M</a></li>
								<li><a title="Small" href="#">S</a></li>
								<li class="title">Font Size:</li>
							</ul><!--END OF CHAR SIZE-->
							<a id="mypage" title="My Page" href="#">My Page</a>
						</div>
					</div>
				</div><!--END OF HEADER MID-->
				<div id="nav">
					<div class="inner-wrap clearfix">
						<ul class="clearfix">
							<li><a class="current" title="menu1" href="#">Home</a></li>
							<li><a title="menu2" href="#">Tutor Search</a></li>
							<li><a title="menu3" href="#">About Service</a></li>
							<li><a title="menu4" href="#">Community</a></li>
							<li><a title="menu5" href="#">Price List</a></li>
							<li class="last"><a title="menu6" href="#">Information</a></li>
						</ul>
					</div>
				</div><!--END OF NAV-->
			</div><!--END OF HEADER-->
			
			<!--START OF PAGE CONTENT-->
			<div class="content-wrap">
				<div id="content" class="clearfix">
					<ul class="crumbs clearfix">
						<li>Home</li>
						<li>></li>
						<li><a title="Home" href="#">Information</a></li>
						<li>></li>
						<li>Language Teaching Certificate</li>
					</ul>
					<div class="lang_test two_col clearfix">
						<h2 class="page_title">Language Teaching Certificate</h2>
						<div class="left_col clearfix">
							<ul class="sidebar clearfix">
								<li><a title="topic1" href="#">How to Choose your Language Tutor</a></li>
								<li><a title="topic2" href="#">The Advantage of Private Lesson</a></li>
								<li><a title="topic3" href="#">Information of Langauge Tests</a></li>
								<li><a class="current" title="topic4" href="#">Teaching Certificate of Language Tutors</a></li>
								<li><a title="topic5" href="#">Advice for Students</a></li>
								<li><a title="topic6" href="#">Advice for Tutors</a></li>
							</ul>
						</div><!--END OF LEFT COL-->
							
						<div class="right_col clearfix">
							<h2 class="green">English Tutoring Certificate</h2>
							<p class="orange">What is the difference between English teaching certificates?</p>
							<p>Note：</p>
							<p>The following four teaching certificates refer to teaching English to non-English speakers.  </p>
							<ul class="clearfix pb10">
								<li>
									<p>※TESL(Teaching English as a Second Language)<br/>
									TESL refers to teaching English to students whose first language is not English, usually offered in a region where English is the dominant language(eg：Hong Kong, Singapore, etc) </p>
								</li>
								<li>
									<p>※TEFL(Teaching English as a Foreign Language)<br/>TEFL refers to teaching English to students whose first language is not English, usually in a region where English is not the dominant language(eg：Japan, China, etc.) </p>
								</li>
								<li>
									<p>※TEFL /TESL/TESOL (Teaching English as a Foreign / Second / to Speakers of Other Language) are internationally recognized qualifications that enable people/English teachers to Teach English as a Foreign or Second Language.</p>
								</li>
								<li>
									<p>※CELTA(Certificate in English Language Teaching to Adults) is an initial credential for teachers of English as a foreign language.</p>
								</li>
							</ul>
							
							<h2 class="green mt10">Japanese Tutoring Certificate</h2>
							<p class="orange">Japanese Language Teaching Competency Test </p>
							<p>Japanese Language Teaching Competency Test which is administered by the Japan Educational Exchanges and Services. </p>
							<p>Japanese Language Teaching Competency Test Courses will be provided by different Japanese language schools, Curriculum for obligatory 420 hours.</p>
							<p>Japanese Language Teaching Competency Test</p>
							<p>Japanese Language Teaching Competency Test is administered by the Japan Educational Exchanges and Services. 
The program places more importance on cultivating the ability to teach Japanese to foreigners than theory. We bring in Japanese teachers to demonstrate practical techniques.  These teachers who have passed the test are experts with the knowledge of linguistics and technical knowledge along with practical experience. They are able to share their experience in the field with the students.</p>
							<p>The test includes three parts. </p>
							<p>Official Site <a title="link" class="in-link" href="#">http://www.jees.or.jp/jltct/ </a></p>
							
							<div class="link_wrap clearfix">
							<a class="back-top" href="#" title="Back to Home">Back to Home</a>
							<a title="Back to Home" href="#" class="to-top">Back to Top</a>
						</div>
						</div><!--END OF RIGHT COL-->
					</div>
				</div><!--END OF CONTENT-->
				<div id="footer">
					<div class="foot-wrap clearfix">
						<ul class="foot-links clearfix">
							<li><a title="link1" href="#">Site Map</a></li>
							<li>|</li>
							<li><a title="link2" href="#">Privacy Policy</a></li>
							<li>|</li>
							<li><a title="link3" href="#">Terms of Membership</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Terms &amp; Conditions</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Contact Us</a></li>
						</ul>
						<p>Copyright &copy; TutorNavi All rights reserved.</p>
						<a class="foot-logo" title="Logo" href="#"><img alt="Logo" src="images/logo2.png" /></a>
					</div>
					<div class="shadow"></div>
				</div><!--END OF FOOTER-->
				
			</div>
			<!--END OF PAGE CONTENT-->

		</div><!--END OF WRAPPER-->
	</body>
</html>
