<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Language Test</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/custom.css" rel="stylesheet" type="text/css" />
	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/pngfix.css">
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie6.css">
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie7.css">
	<![endif]-->
	</head>

	<body>
		<div class="wrapper clearfix">
			<div id="header" class="clearfix">
				<div class="header-top">
					<div class="inner-wrap clearfix">
						<p>Hong Kong Language Tutors Reviews Site</p>
						<ul class="clearfix">
							<li><a title="link2" href="#">Login</a></li>
							<li><a title="link1" href="#">Register</a></li>
						</ul>
					</div>
				</div><!--END OF HEADER TOP-->
				<div class="header-mid clearfix">
					<div class="inner-wrap clearfix">
						<a id="logo" title="logo" href="#"><img alt="logo" src="images/logo.jpg" /></a>
						<p class="greeting">Hello,  <span>Visitor</span>！</p>
						<div class="right">
							<ul class="quick-links clearfix">
								<li><a id="fave" title="FAVE" href="#">My Favorite</a></li>
								<li><a id="contact" title="CONTACT" href="#">Contact Us</a></li>
								<li><a id="map" title="SITE MAP" href="#">Site Map</a></li>
								<li><a id="faq" title="FAQ" href="#">FAQ</a></li>
							</ul><!--END OF QUICK LINKS-->
							<ul class="language clearfix">									
								<li><a title="Eng" href="#">ENG</a></li>
								<li><a title="Jap" href="#">日本語</a></li>
							</ul><!--END OF LANGUAGE-->
							<ul class="char-size clearfix">
								<li><a title="Bold" href="#">B</a></li>
								<li><a class="current" title="Medium" href="#">M</a></li>
								<li><a title="Small" href="#">S</a></li>
								<li class="title">Font Size:</li>
							</ul><!--END OF CHAR SIZE-->
							<a id="mypage" title="My Page" href="#">My Page</a>
						</div>
					</div>
				</div><!--END OF HEADER MID-->
				<div id="nav">
					<div class="inner-wrap clearfix">
						<ul class="clearfix">
							<li><a class="current" title="menu1" href="#">Home</a></li>
							<li><a title="menu2" href="#">Tutor Search</a></li>
							<li><a title="menu3" href="#">About Service</a></li>
							<li><a title="menu4" href="#">Community</a></li>
							<li><a title="menu5" href="#">Price List</a></li>
							<li class="last"><a title="menu6" href="#">Information</a></li>
						</ul>
					</div>
				</div><!--END OF NAV-->
			</div><!--END OF HEADER-->
			
			<!--START OF PAGE CONTENT-->
			<div class="content-wrap">
				<div id="content" class="clearfix">
					<ul class="crumbs clearfix">
						<li>Home</li>
						<li>></li>
						<li><a title="Home" href="#">Information</a></li>
						<li>></li>
						<li>Chinese Test HSK</li>
					</ul>
					<div class="lang_test two_col clearfix">
						<h2 class="page_title">Chinese Language Test Information</h2>
						<div class="left_col clearfix">
							<ul class="sidebar clearfix">
								<li><a title="topic1" href="#">How to Choose your Language Tutor</a></li>
								<li><a title="topic2" href="#">The Advantage of Private Lesson</a></li>
								<li><a class="current" title="topic3" href="#">Information of Langauge Tests</a></li>
								<li><a title="topic4" href="#">Teaching Certificate of Language Tutors</a></li>
								<li><a title="topic5" href="#">Advice for Students</a></li>
								<li><a title="topic6" href="#">Advice for Tutors</a></li>
							</ul>
						</div><!--END OF LEFT COL-->
							
						<div class="right_col clearfix">
							<h2 class="green">Chinese Language Test : HSK (Hanyu Shuiping Kaoshi)</h2>
							<p class="orange">General</p>
							<p>HSK「Hanyu Shuiping Kaoshi is a national the standardized test to assess the Chinese language proficiency of non-native speakers. The new HSK is an international standardized exam that tests and rates Chinese language proficiency. It assesses non-native Chinese speakers’ abilities in using the Chinese language in their daily, academic and professional lives. HSK consists of six levels.</p>
							<p class="sec_title">HSK Purposes</p>
							<ol class="clearfix">
								<li>A reference for an educational institution’s decision-making concerning recruiting students.</li>
								<li>A reference for an educational institution’s decision-making concerning allowing students to skip certain Chinese courses.</li>
								<li>A reference for employers’ decision-making concerning the recruitment, training and promotion of test takers.</li>
							</ol>
							<p class="orange">Details are as follows</p>
							<table class="details_tbl">
								<tr>
									<th>H<br/>S<br/>K</th>
									<td class="mid">Chinese Language Proficientcy test</td>
									<td align="center">Guidelines</td>
								</tr>
								<tr>
									<th>1</th>
									<td class="mid">―</td>
									<td>Can understand and use some simple Chinese characters and sentences to communicate, and prepares them for continuing their Chinese studies. </td>
								</tr>
								<tr>
									<th>2</th>
									<td class="mid">―</td>
									<td>Can use Chinese in a simple and direct manner, applying it in a basic fashion to their daily lives.</td>
								</tr>
								<tr>
									<th>3</th>
									<td class="mid">Pre 4~4</td>
									<td>Can use Chinese to serve the demands of their personal lives, studies and work, and are capable of completing most of the communicative tasks they experience during their Chinese tour.</td>
								</tr>
								<tr>
									<th>4</th>
									<td class="mid">4~3</td>
									<td>Can discuss a relatively wide range of topics in Chinese and are capable of communicating with Chinese speakers at a high standard.</td>
								</tr>
								<tr>
									<th>5</th>
									<td class="mid">Pre 2~Pre 1</td>
									<td>Can read Chinese newspapers and magazines, watch Chinese films and are capable of writing and delivering a lengthy speech in Chinese.</td>
								</tr>
								<tr>
									<th>6</th>
									<td class="mid">1</td>
									<td>Can easily understand any information communicated in Chinese and are capable of smoothly expressing themselves in written or oral form.</td>
								</tr>
							</table>
							<p>China HSK Official Site (<a class="in-link" title="link" href="#">http://www.hsk.org.cn/index_J.aspx</a>)</p>
							<p>Japan HSK Official Site (<a class="in-link" title="link" href="#">http://www.hskj.jp/index.html</a>)	</p>
							<p class="orange">HSK Application in Hong Kong</p>
							<p>City University of Hong Kong and Hong Kong University will usually hold the examination twice a year. The test fee is different　depending on which level you are taking.Please click the following link to check Test Date and Registration Deadline.</p>
							<p>(<a class="in-link" title="link" href="#">http://www.hkpeac.hku.hk/english/HSK_e.html</a>)</p>
							<p><img alt="image 1" src="images/img_shot1.jpg" /></p>
							<ul class="clearfix">
								<li><p>(1) Include 2 recent bareheaded photos with white background </p></li>
								<li><p>(2) Download the application form, input your personal information, then bank in test fee to HSBC Account.</p></li>
								<li>
									<p>(3) Please print the receipt with your name, test level and test code after your application is finished</p>
									<p><img alt="image 2" src="images/img_shot2.jpg" /></p>
								</li>
								<li>
									<p>(4) Please write your name and residence on the envelope. Along with the application form, include 2 photos, a receipt for the application and 2.8 HK dollar stamps. Send to the following address.</p>
									<p><img alt="image 3" src="images/img_shot3.jpg" /></p>
								</li>
							</ul>
							<p class="orange">Contacts</p>
							<table class="test_contacts">
								<tr>
									<th>Location</th>
									<th>Telephone</th>
									<th>Fax</th>
								</tr>
								<tr>
									<td>HK French School</td>
									<td>2577-6217</td>
									<th>2577-9658</th>
								</tr>
								<tr>
									<td>City University of HK</td>
									<td>2788-9406</td>
									<th>2788-7088</th>
								</tr>
								<tr>
									<td>Hong Kong University</td>
									<td>2857-8330/2857-8329</td>
									<th>2540-9409</th>
								</tr>
							</table>
							<div class="link_wrap clearfix">
							<div class="goto"><a href="#" title="Go to TOEIC">TOEIC</a></div>
							</div>
							<div class="link_wrap clearfix">
							<div class="goto"><a href="#" title="Go to JLPT">JLPT</a></div>
							</div>
							<div class="link_wrap clearfix">
							<a class="back-top" href="#" title="Back to Home">Back to Home</a>
							<a title="Back to Home" href="#" class="to-top">Back to Top</a>
						</div>
						</div><!--END OF RIGHT COL-->
					</div>
				</div><!--END OF CONTENT-->
				<div id="footer">
					<div class="foot-wrap clearfix">
						<ul class="foot-links clearfix">
							<li><a title="link1" href="#">Site Map</a></li>
							<li>|</li>
							<li><a title="link2" href="#">Privacy Policy</a></li>
							<li>|</li>
							<li><a title="link3" href="#">Terms of Membership</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Terms &amp; Conditions</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Contact Us</a></li>
						</ul>
						<p>Copyright &copy; TutorNavi All rights reserved.</p>
						<a class="foot-logo" title="Logo" href="#"><img alt="Logo" src="images/logo2.png" /></a>
					</div>
					<div class="shadow"></div>
				</div><!--END OF FOOTER-->
				
			</div>
			<!--END OF PAGE CONTENT-->

		</div><!--END OF WRAPPER-->
	</body>
</html>
