<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>ADVANCED SEARCH</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/custom.css" rel="stylesheet" type="text/css" />
	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/pngfix.css">
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie6.css">
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie7.css">
	<![endif]-->
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="css/form.css">
	<![endif]-->
	<!--[if !IE]><!--><script type="text/javascript">  
	if (/*@cc_on!@*/false) {  
		document.documentElement.className+='ie10';  
	}  
	</script><!--<![endif]--> 
	</head>

	<body>
		<div class="wrapper clearfix">
			<div id="header" class="clearfix">
				<div class="header-top">
					<div class="inner-wrap clearfix">
						<p>Hong Kong Language Tutors Reviews Site</p>
						<ul class="clearfix">
							<li><a title="link2" href="#">Login</a></li>
							<li><a title="link1" href="#">Register</a></li>
						</ul>
					</div>
				</div><!--END OF HEADER TOP-->
				<div class="header-mid clearfix">
					<div class="inner-wrap clearfix">
						<a id="logo" title="logo" href="#"><img alt="logo" src="images/logo.jpg" /></a>
						<p class="greeting">Hello,  <span>Visitor</span>！</p>
						<div class="right">
							<ul class="quick-links clearfix">
								<li><a id="fave" title="FAVE" href="#">My Favorite</a></li>
								<li><a id="contact" title="CONTACT" href="#">Contact Us</a></li>
								<li><a id="map" title="SITE MAP" href="#">Site Map</a></li>
								<li><a id="faq" title="FAQ" href="#">FAQ</a></li>
							</ul><!--END OF QUICK LINKS-->
							<ul class="language clearfix">									
								<li><a title="Eng" href="#">ENG</a></li>
								<li><a title="Jap" href="#">日本語</a></li>
							</ul><!--END OF LANGUAGE-->
							<ul class="char-size clearfix">
								<li><a title="Bold" href="#">B</a></li>
								<li><a class="current" title="Medium" href="#">M</a></li>
								<li><a title="Small" href="#">S</a></li>
								<li class="title">Font Size:</li>
							</ul><!--END OF CHAR SIZE-->
							<a id="mypage" title="My Page" href="#">My Page</a>
						</div>
					</div>
				</div><!--END OF HEADER MID-->
				<div id="nav">
					<div class="inner-wrap clearfix">
						<ul class="clearfix">
							<li><a class="current" title="menu1" href="#">Home</a></li>
							<li><a title="menu2" href="#">Tutor Search</a></li>
							<li><a title="menu3" href="#">About Service</a></li>
							<li><a title="menu4" href="#">Community</a></li>
							<li><a title="menu5" href="#">Price List</a></li>
							<li class="last"><a title="menu6" href="#">Information</a></li>
						</ul>
					</div>
				</div><!--END OF NAV-->
			</div><!--END OF HEADER-->
			
			<!--START OF PAGE CONTENT-->
			<div class="content-wrap">
				<div id="content" class="clearfix">
					<ul class="crumbs clearfix">
						<li>Home</li>
						<li>></li>
						<li>Advanced Search Tutor</li>
						<li>></li>
						<li>Tutor Profile</li>
					</ul>
					<div class="search_tutor advanced clearfix">
						<div class="left_col clearfix">
							<p class="msearch">More Search</p>
							<div class="search-top">
								<p class="title">Advanced Search</p>
								<p class="sub">About Lesson</p>
							</div>
							<div class="search-mid clearfix">
								<div class="adv_box vis">
									<div class="top">
									<a href="#" class="hide" title="hide"><img src="images/icn_hide.jpg" alt="hide" /></a>
									Language Level
									</div>
									<div class="mid">
										<form action="#">
											<div class="clearfix"><input type="radio" id="ll1" name="llevel" /><label for="ll1">Begginer</label></div>
											<div><input type="radio" id="ll2" name="llevel" /><label for="ll2">Intermediate</label></div>
											<div><input type="radio" id="ll3" name="llevel" /><label for="ll3">High Intermediate</label></div>
											<div><input type="radio" id="ll4" name="llevel" /><label for="ll4">High</label></div>
											<div><input type="radio" id="ll5" name="llevel" /><label for="ll5">Exam Purpose</label></div>
											<div style="width:100px;"><input type="radio" id="ll6" name="llevel" /><label for="ll6">Business</label></div>
										</form>
									</div>
									<div class="btm"></div>
								</div>
								<div class="adv_box hid">
									<div class="top">
									<a href="#" class="show" title="hide"><img src="images/icn_show.jpg" alt="hide" /></a>
									Lesson Field
									</div>
									<div class="mid">
										<form action="#">
										</form>
									</div>
									<div class="btm"></div>
								</div>
								<div class="adv_box hid">
									<div class="top">
									<a href="#" class="show" title="hide"><img src="images/icn_show.jpg" alt="hide" /></a>
									Lesson Area
									</div>
									<div class="mid">
										<form action="#">
										</form>
									</div>
									<div class="btm"></div>
								</div>
								<div class="adv_box hid">
									<div class="top">
									<a href="#" class="show" title="hide"><img src="images/icn_show.jpg" alt="hide" /></a>
									Lesson Date
									</div>
									<div class="mid">
										<form action="#">
										</form>
									</div>
									<div class="btm"></div>
								</div>
								<div class="adv_box hid">
									<div class="top">
									<a href="#" class="show" title="hide"><img src="images/icn_show.jpg" alt="hide" /></a>
									Lesson Time
									</div>
									<div class="mid">
										<form action="#">
										</form>
									</div>
									<div class="btm"></div>
								</div>
								
								<div class="adv_box vis">
									<div class="top">
									<a href="#" class="hide" title="hide"><img src="images/icn_hide.jpg" alt="hide" /></a>
									Hourly Tuition Fee
									</div>
									<div class="mid">
										<form class="fee" action="#">
											<input type="text" value="" />
											<span>__</span>
											<input type="text" value="" />
											<label>HKD</label>
										</form>
									</div>
									<div class="btm"></div>
								</div>
								<p class="sub">About Tutor</p>
								<div class="adv_box vis">
									<div class="top">
									<a href="#" class="hide" title="hide"><img src="images/icn_hide.jpg" alt="hide" /></a>
									Language Ability
									</div>
									<div class="mid la">
										<form action="#">
										<div class="box">
											<p><a href="#" class="hide" title="hide"><img src="images/btn_hide.jpg" alt="hide" /></a>English</p>
											<div><input type="radio" id="ll7" name="llevel" /><label for="ll7">Native</label></div>
											<div><input type="radio" id="ll8" name="llevel" /><label for="ll8">Fluent</label></div>
											<div><input type="radio" id="ll9" name="llevel" /><label for="ll9">Conversation</label></div>
											<div  style="width:70px;"><input type="radio" id="ll10" name="llevel" /><label for="ll10">None</label></div>
										</div>
										<div class="box">
											<p><a href="#" class="show" title="show"><img src="images/btn_show.jpg" alt="show" /></a>Cantonese</p>
										</div>
										<div class="box">
											<p><a href="#" class="show" title="show"><img src="images/btn_show.jpg" alt="show" /></a>Mandarin</p>
										</div>
										<div class="box">
											<p><a href="#" class="show" title="show"><img src="images/btn_show.jpg" alt="show" /></a>Japanese</p>
										</div>
										<div class="box">
											<p><a href="#" class="show" title="show"><img src="images/btn_show.jpg" alt="hide" /></a>Korean</p>
										</div>
										<div class="box">
											<p><a href="#" class="show" title="show"><img src="images/btn_show.jpg" alt="show" /></a>French</p>
										</div>
										<div class="box">
											<p><a href="#" class="show" title="show"><img src="images/btn_show.jpg" alt="show" /></a>German</p>
										</div>
										<div class="box">
											<p><a href="#" class="show" title="show"><img src="images/btn_show.jpg" alt="show" /></a>Spanish</p>
										</div>
										</form>
									</div>
									<div class="btm"></div>
								</div>
								<div class="adv_box hid">
									<div class="top">
									<a href="#" class="show" title="hide"><img src="images/icn_show.jpg" alt="show" /></a>
									Teaching Experience
									</div>
									<div class="mid">
										<form action="#">
										</form>
									</div>
									<div class="btm"></div>
								</div>
								<div class="adv_box hid">
									<div class="top">
									<a href="#" class="show" title="hide"><img src="images/icn_show.jpg" alt="hide" /></a>
									Gender
									</div>
									<div class="mid">
										<form action="#">
										</form>
									</div>
									<div class="btm"></div>
								</div>
								<div class="adv_box hid">
									<div class="top">
									<a href="#" class="show" title="hide"><img src="images/icn_show.jpg" alt="hide" /></a>
									Age
									</div>
									<div class="mid">
										<form action="#">
										</form>
									</div>
									<div class="btm"></div>
								</div>
								<div class="adv_box hid">
									<div class="top">
									<a href="#" class="show" title="hide"><img src="images/icn_show.jpg" alt="hide" /></a>
									Familiar Field
									</div>
									<div class="mid">
										<form action="#">
										</form>
									</div>
									<div class="btm"></div>
								</div>
								<div class="adv_box hid">
									<div class="top">
									<a href="#" class="show" title="hide"><img src="images/icn_show.jpg" alt="hide" /></a>
									Teaching Certificate
									</div>
									<div class="mid">
										<form action="#">
										</form>
									</div>
									<div class="btm"></div>
								</div>
								<div class="adv_box hid">
									<div class="top">
									<a href="#" class="show" title="hide"><img src="images/icn_show.jpg" alt="hide" /></a>
									Photo
									</div>
									<div class="mid">
										<form action="#">
										</form>
									</div>
									<div class="btm"></div>
								</div>
								<div class="btm_links">
										<p>? <a title="how to search" href="#">How to Search</a></p>
										<p>x <a title="how to search" href="#">Clear All</a></p>
										<input type="submit" value="Search" class="search" />
								</div>
							</div><!--end of search mid-->
							<div class="search-last"></div>
						</div><!--END OF LEFT COL-->
							
						<div class="right_content clearfix">
							<h2>Language Tutor Search Result</h2>
							<p class="sort">Sort by</p>
<div class="top-right clearfix">
								<div class="icon_box clearfix">
									<div class="title">icon</div>
									<ul class="list1 clearfix">
										<li class="rev">reviews in total</li>
										<li class="fave">added as favorite</li>
										<li class="cam">webcam provided</li>
									</ul>
									<ul class="list2 clearfix">
										<li><img height="15" src="images/img_crown1.jpg" alt="rank" class="crown" /><span>tutor rank</span><img src="images/icn_rank-star.jpg" alt="star" /></li>
										<li>
											<img height="15" src="images/img_crown2.jpg" alt="rank" class="crown" />
											<span>tutor rank</span>
											<img src="images/icn_rank-star.jpg" alt="star" />
											<img src="images/icn_rank-star.jpg" alt="star" />
										</li>
										<li>
											<img height="15" src="images/img_crown1.jpg" alt="rank" class="crown" />
											<span>tutor rank</span>
											<img src="images/icn_rank-star.jpg" alt="star" />
											<img src="images/icn_rank-star.jpg" alt="star" />
											<img src="images/icn_rank-star.jpg" alt="star" />
										</li>
									</ul>
								</div><!--END OF ICON BOX-->
								<div class="search_section">
									<form class="clearfix" action="#">
										<input type="submit" value="Search" id="search_word" />
										<input type="text" id="kwords" value="China Business, Finance" />
										<label for="kwords">Search by keywords or nickname</label>
									</form>
									<p><a href="#" title="how to search">How to Search</a> Most Popular Keywords : China Business, Finance</p>
								</div>
							</div>
							<ul class="tl_menu clearfix">
								<li><a class="current" title="menu1" href="#">Show All</a></li>
								<li><a title="menu2" href="#">Tutor Rank</a></li>
								<li><a title="menu3" href="#">Tuition Fee</a></li>
								<li><a title="menu4" href="#">Tutor Review</a></li>
								<li><a title="menu5" href="#">Blog Updates</a></li>
								<li><a title="menu6" href="#">Login Time</a></li>
							</ul>
							<div class="results">Search Result<span>1,561</span>Tutors</div>
							<ul class="page_nav top clearfix">
								<li><a href="#" title="prev"><img src="images/page_prev.jpg" alt="prev" /></a></li>			
								<li><a href="#" title="prev">1</a></li>
								<li class="current"><a href="#" title="prev">2</a></li>
								<li><a href="#" title="prev">3</a></li>
								<li><a href="#" title="prev">4</a></li>
								<li><a href="#" title="prev">5</a></li>
								<li><a href="#" title="prev">6</a></li>
								<li><a href="#" title="prev">7</a></li>
								<li><a href="#" title="prev">8</a></li>
								<li><a href="#" title="prev">9</a></li>
								<li><a href="#" title="prev">10</a></li>
								<li><a href="#" title="prev"><img src="images/page_next.jpg" alt="prev" /></a></li>
							</ul>
							
							<div class="info_box">
                            	<div class="t_info clearfix">
									<div class="personal clearfix">
										<div class="rank_box clearfix">
											<img class="crown" alt="rank" src="images/img_crown2.jpg" height="19" />
											<img class="star" alt="star" src="images/stars.jpg" />
											<span>Tutor Rank</span>
										</div>
										<div class="pic">
											<img alt="star" src="images/img_profile-pic.jpg" />
										</div>
										<div class="v_blog">
											<a title="blogs" href="#">View Blogs</a>
										</div>
										<ul class="share clearfix">
											<li><a class="s1" title="mail" href="#"></a></li>
											<li><a class="s2" title="like" href="#"></a></li>
											<li><a class="s3" title="file" href="#"></a></li>
											<li><a class="s4" title="chat" href="#"></a></li>
										</ul>
									</div><!--end of personal-->
									<div class="details clearfix">
										<h2>
											<span class="name">Nickname (23)</span>
											<span class="flag"><img alt="us" src="images/us_flag.jpg" /></span>
										</h2>
										<div class="medal">
											<img alt="medal" src="images/icn_medal.jpg" />
											<span class="pop">Silver Member: ...</span>
										</div>
										<div class="offer">
											<span>Lesson Offer</span>
											<p>Business English TOEIC,Speaking</p>
										</div>
										<p>Hi everybody! I'm an American living in the south of France. I moved to 
											France 3 years ago. I'm completely fluent in French, as well as my native 
											English. I have a Bachelor's degree in psychology from an American 
											university and a ..<a class="more" title="read more" href="#">Read more </a>
										</p>
									</div>
									<div class="r_box clearfix">
										<ul class="clearfix">
											<li class="top">
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
											</li>
											<li class="bg">Native</li>
											<li>English</li>
											<li class="bg">Fluent</li>
											<li>Chinese Thai</li>
											<li class="bg">Tuition Fee</li>
											<li>200-250 HK Dollar</li>
										</ul>
										<div class="btm"></div>
										<a class="more" title="more" href="#">more</a>
									</div>
									<ul class="ratings clearfix">
										<li>
											<div class="rev">
												<span>Number of reviews written for this tutor</span>
											</div>
											172
										</li>
										<li><div class="fav"><span>Number of students who have made requests + students who have this tutor in their favorites</span></div>54</li>
										<li><div class="cam"><span>Tutor is available via web cam</span></div>Yes</li>
									</ul>
								</div><!--end of t_info-->
								<div class="t_info clearfix">
									<div class="personal clearfix">
										<div class="rank_box clearfix">
											<img class="crown" alt="rank" src="images/img_crown2.jpg" height="19" />
											<img class="star" alt="star" src="images/stars.jpg" />
											<span>Tutor Rank</span>
										</div>
										<div class="pic">
											<img alt="star" src="images/img_profile-pic.jpg" />
										</div>
										<div class="v_blog">
											<a title="blogs" href="#">View Blogs</a>
										</div>
										<ul class="share clearfix">
											<li><a class="s1" title="mail" href="#"></a></li>
											<li><a class="s2" title="like" href="#"></a></li>
											<li><a class="s3" title="file" href="#"></a></li>
											<li><a class="s4" title="chat" href="#"></a></li>
										</ul>
									</div><!--end of personal-->
									<div class="details clearfix">
										<h2>
											<span class="name">Nickname (23)</span>
											<span class="flag"><img alt="us" src="images/us_flag.jpg" /></span>
										</h2>
										<div class="medal">
											<img alt="medal" src="images/icn_medal.jpg" />
											<span class="pop">Silver Member: ...</span>
										</div>
										<div class="offer">
											<span>Lesson Offer</span>
											<p>Business English TOEIC,Speaking</p>
										</div>
										<p>Hi everybody! I'm an American living in the south of France. I moved to 
											France 3 years ago. I'm completely fluent in French, as well as my native 
											English. I have a Bachelor's degree in psychology from an American 
											university and a ..<a class="more" title="read more" href="#">Read more </a>
										</p>
									</div>
									<div class="r_box clearfix">
										<ul class="clearfix">
											<li class="top">
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
											</li>
											<li class="bg">Native</li>
											<li>English</li>
											<li class="bg">Fluent</li>
											<li>Chinese Thai</li>
											<li class="bg">Tuition Fee</li>
											<li>200-250 HK Dollar</li>
										</ul>
										<div class="btm"></div>
										<a class="more" title="more" href="#">more</a>
									</div>
									<ul class="ratings clearfix">
										<li>
											<div class="rev">
												<span>Number of reviews written for this tutor</span>
											</div>
											172
										</li>
										<li><div class="fav"><span>Number of students who have made requests + students who have this tutor in their favorites</span></div>54</li>
										<li><div class="cam"><span>Tutor is available via web cam</span></div>Yes</li>
									</ul>
								</div><!--end of t_info-->
								<div class="t_info clearfix">
									<div class="personal clearfix">
										<div class="rank_box clearfix">
											<img class="crown" alt="rank" src="images/img_crown2.jpg" height="19" />
											<img class="star" alt="star" src="images/stars.jpg" />
											<span>Tutor Rank</span>
										</div>
										<div class="pic">
											<img alt="star" src="images/img_profile-pic.jpg" />
										</div>
										<div class="v_blog">
											<a title="blogs" href="#">View Blogs</a>
										</div>
										<ul class="share clearfix">
											<li><a class="s1" title="mail" href="#"></a></li>
											<li><a class="s2" title="like" href="#"></a></li>
											<li><a class="s3" title="file" href="#"></a></li>
											<li><a class="s4" title="chat" href="#"></a></li>
										</ul>
									</div><!--end of personal-->
									<div class="details clearfix">
										<h2>
											<span class="name">Nickname (23)</span>
											<span class="flag"><img alt="us" src="images/us_flag.jpg" /></span>
										</h2>
										<div class="medal">
											<img alt="medal" src="images/icn_medal.jpg" />
											<span class="pop">Silver Member: ...</span>
										</div>
										<div class="offer">
											<span>Lesson Offer</span>
											<p>Business English TOEIC,Speaking</p>
										</div>
										<p>Hi everybody! I'm an American living in the south of France. I moved to 
											France 3 years ago. I'm completely fluent in French, as well as my native 
											English. I have a Bachelor's degree in psychology from an American 
											university and a ..<a class="more" title="read more" href="#">Read more </a>
										</p>
									</div>
									<div class="r_box clearfix">
										<ul class="clearfix">
											<li class="top">
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
											</li>
											<li class="bg">Native</li>
											<li>English</li>
											<li class="bg">Fluent</li>
											<li>Chinese Thai</li>
											<li class="bg">Tuition Fee</li>
											<li>200-250 HK Dollar</li>
										</ul>
										<div class="btm"></div>
										<a class="more" title="more" href="#">more</a>
									</div>
									<ul class="ratings clearfix">
										<li>
											<div class="rev">
												<span>Number of reviews written for this tutor</span>
											</div>
											172
										</li>
										<li><div class="fav"><span>Number of students who have made requests + students who have this tutor in their favorites</span></div>54</li>
										<li><div class="cam"><span>Tutor is available via web cam</span></div>Yes</li>
									</ul>
								</div><!--end of t_info-->
								<div class="t_info clearfix">
									<div class="personal clearfix">
										<div class="rank_box clearfix">
											<img class="crown" alt="rank" src="images/img_crown2.jpg" height="19" />
											<img class="star" alt="star" src="images/stars.jpg" />
											<span>Tutor Rank</span>
										</div>
										<div class="pic">
											<img alt="star" src="images/img_profile-pic.jpg" />
										</div>
										<div class="v_blog">
											<a title="blogs" href="#">View Blogs</a>
										</div>
										<ul class="share clearfix">
											<li><a class="s1" title="mail" href="#"></a></li>
											<li><a class="s2" title="like" href="#"></a></li>
											<li><a class="s3" title="file" href="#"></a></li>
											<li><a class="s4" title="chat" href="#"></a></li>
										</ul>
									</div><!--end of personal-->
									<div class="details clearfix">
										<h2>
											<span class="name">Nickname (23)</span>
											<span class="flag"><img alt="us" src="images/us_flag.jpg" /></span>
										</h2>
										<div class="medal">
											<img alt="medal" src="images/icn_medal.jpg" />
											<span class="pop">Silver Member: ...</span>
										</div>
										<div class="offer">
											<span>Lesson Offer</span>
											<p>Business English TOEIC,Speaking</p>
										</div>
										<p>Hi everybody! I'm an American living in the south of France. I moved to 
											France 3 years ago. I'm completely fluent in French, as well as my native 
											English. I have a Bachelor's degree in psychology from an American 
											university and a ..<a class="more" title="read more" href="#">Read more </a>
										</p>
									</div>
									<div class="r_box clearfix">
										<ul class="clearfix">
											<li class="top">
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
											</li>
											<li class="bg">Native</li>
											<li>English</li>
											<li class="bg">Fluent</li>
											<li>Chinese Thai</li>
											<li class="bg">Tuition Fee</li>
											<li>200-250 HK Dollar</li>
										</ul>
										<div class="btm"></div>
										<a class="more" title="more" href="#">more</a>
									</div>
									<ul class="ratings clearfix">
										<li>
											<div class="rev">
												<span>Number of reviews written for this tutor</span>
											</div>
											172
										</li>
										<li><div class="fav"><span>Number of students who have made requests + students who have this tutor in their favorites</span></div>54</li>
										<li><div class="cam"><span>Tutor is available via web cam</span></div>Yes</li>
									</ul>
								</div><!--end of t_info-->
								<div class="t_info clearfix">
									<div class="personal clearfix">
										<div class="rank_box clearfix">
											<img class="crown" alt="rank" src="images/img_crown2.jpg" height="19" />
											<img class="star" alt="star" src="images/stars.jpg" />
											<span>Tutor Rank</span>
										</div>
										<div class="pic">
											<img alt="star" src="images/img_profile-pic.jpg" />
										</div>
										<div class="v_blog">
											<a title="blogs" href="#">View Blogs</a>
										</div>
										<ul class="share clearfix">
											<li><a class="s1" title="mail" href="#"></a></li>
											<li><a class="s2" title="like" href="#"></a></li>
											<li><a class="s3" title="file" href="#"></a></li>
											<li><a class="s4" title="chat" href="#"></a></li>
										</ul>
									</div><!--end of personal-->
									<div class="details clearfix">
										<h2>
											<span class="name">Nickname (23)</span>
											<span class="flag"><img alt="us" src="images/us_flag.jpg" /></span>
										</h2>
										<div class="medal">
											<img alt="medal" src="images/icn_medal.jpg" />
											<span class="pop">Silver Member: ...</span>
										</div>
										<div class="offer">
											<span>Lesson Offer</span>
											<p>Business English TOEIC,Speaking</p>
										</div>
										<p>Hi everybody! I'm an American living in the south of France. I moved to 
											France 3 years ago. I'm completely fluent in French, as well as my native 
											English. I have a Bachelor's degree in psychology from an American 
											university and a ..<a class="more" title="read more" href="#">Read more </a>
										</p>
									</div>
									<div class="r_box clearfix">
										<ul class="clearfix">
											<li class="top">
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
											</li>
											<li class="bg">Native</li>
											<li>English</li>
											<li class="bg">Fluent</li>
											<li>Chinese Thai</li>
											<li class="bg">Tuition Fee</li>
											<li>200-250 HK Dollar</li>
										</ul>
										<div class="btm"></div>
										<a class="more" title="more" href="#">more</a>
									</div>
									<ul class="ratings clearfix">
										<li>
											<div class="rev">
												<span>Number of reviews written for this tutor</span>
											</div>
											172
										</li>
										<li><div class="fav"><span>Number of students who have made requests + students who have this tutor in their favorites</span></div>54</li>
										<li><div class="cam"><span>Tutor is available via web cam</span></div>Yes</li>
									</ul>
								</div><!--end of t_info-->
								<div class="t_info clearfix">
									<div class="personal clearfix">
										<div class="rank_box clearfix">
											<img class="crown" alt="rank" src="images/img_crown2.jpg" height="19" />
											<img class="star" alt="star" src="images/stars.jpg" />
											<span>Tutor Rank</span>
										</div>
										<div class="pic">
											<img alt="star" src="images/img_profile-pic.jpg" />
										</div>
										<div class="v_blog">
											<a title="blogs" href="#">View Blogs</a>
										</div>
										<ul class="share clearfix">
											<li><a class="s1" title="mail" href="#"></a></li>
											<li><a class="s2" title="like" href="#"></a></li>
											<li><a class="s3" title="file" href="#"></a></li>
											<li><a class="s4" title="chat" href="#"></a></li>
										</ul>
									</div><!--end of personal-->
									<div class="details clearfix">
										<h2>
											<span class="name">Nickname (23)</span>
											<span class="flag"><img alt="us" src="images/us_flag.jpg" /></span>
										</h2>
										<div class="medal">
											<img alt="medal" src="images/icn_medal.jpg" />
											<span class="pop">Silver Member: ...</span>
										</div>
										<div class="offer">
											<span>Lesson Offer</span>
											<p>Business English TOEIC,Speaking</p>
										</div>
										<p>Hi everybody! I'm an American living in the south of France. I moved to 
											France 3 years ago. I'm completely fluent in French, as well as my native 
											English. I have a Bachelor's degree in psychology from an American 
											university and a ..<a class="more" title="read more" href="#">Read more </a>
										</p>
									</div>
									<div class="r_box clearfix">
										<ul class="clearfix">
											<li class="top">
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
											</li>
											<li class="bg">Native</li>
											<li>English</li>
											<li class="bg">Fluent</li>
											<li>Chinese Thai</li>
											<li class="bg">Tuition Fee</li>
											<li>200-250 HK Dollar</li>
										</ul>
										<div class="btm"></div>
										<a class="more" title="more" href="#">more</a>
									</div>
									<ul class="ratings clearfix">
										<li>
											<div class="rev">
												<span>Number of reviews written for this tutor</span>
											</div>
											172
										</li>
										<li><div class="fav"><span>Number of students who have made requests + students who have this tutor in their favorites</span></div>54</li>
										<li><div class="cam"><span>Tutor is available via web cam</span></div>Yes</li>
									</ul>
								</div><!--end of t_info-->
								<div class="t_info clearfix">
									<div class="personal clearfix">
										<div class="rank_box clearfix">
											<img class="crown" alt="rank" src="images/img_crown2.jpg" height="19" />
											<img class="star" alt="star" src="images/stars.jpg" />
											<span>Tutor Rank</span>
										</div>
										<div class="pic">
											<img alt="star" src="images/img_profile-pic.jpg" />
										</div>
										<div class="v_blog">
											<a title="blogs" href="#">View Blogs</a>
										</div>
										<ul class="share clearfix">
											<li><a class="s1" title="mail" href="#"></a></li>
											<li><a class="s2" title="like" href="#"></a></li>
											<li><a class="s3" title="file" href="#"></a></li>
											<li><a class="s4" title="chat" href="#"></a></li>
										</ul>
									</div><!--end of personal-->
									<div class="details clearfix">
										<h2>
											<span class="name">Nickname (23)</span>
											<span class="flag"><img alt="us" src="images/us_flag.jpg" /></span>
										</h2>
										<div class="medal">
											<img alt="medal" src="images/icn_medal.jpg" />
											<span class="pop">Silver Member: ...</span>
										</div>
										<div class="offer">
											<span>Lesson Offer</span>
											<p>Business English TOEIC,Speaking</p>
										</div>
										<p>Hi everybody! I'm an American living in the south of France. I moved to 
											France 3 years ago. I'm completely fluent in French, as well as my native 
											English. I have a Bachelor's degree in psychology from an American 
											university and a ..<a class="more" title="read more" href="#">Read more </a>
										</p>
									</div>
									<div class="r_box clearfix">
										<ul class="clearfix">
											<li class="top">
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
											</li>
											<li class="bg">Native</li>
											<li>English</li>
											<li class="bg">Fluent</li>
											<li>Chinese Thai</li>
											<li class="bg">Tuition Fee</li>
											<li>200-250 HK Dollar</li>
										</ul>
										<div class="btm"></div>
										<a class="more" title="more" href="#">more</a>
									</div>
									<ul class="ratings clearfix">
										<li>
											<div class="rev">
												<span>Number of reviews written for this tutor</span>
											</div>
											172
										</li>
										<li><div class="fav"><span>Number of students who have made requests + students who have this tutor in their favorites</span></div>54</li>
										<li><div class="cam"><span>Tutor is available via web cam</span></div>Yes</li>
									</ul>
								</div><!--end of t_info-->
							</div><!--end of info-box-->
							<ul class="page_nav bottom clearfix">
								<li><a href="#" title="prev"><img src="images/page_next.jpg" alt="prev" /></a></li>
								<li><a href="#" title="prev">10</a></li>
								<li><a href="#" title="prev">9</a></li>
								<li><a href="#" title="prev">8</a></li>
								<li><a href="#" title="prev">7</a></li>
								<li><a href="#" title="prev">6</a></li>
								<li><a href="#" title="prev">5</a></li>
								<li><a href="#" title="prev">4</a></li>
								<li><a href="#" title="prev">3</a></li>
								<li class="current"><a href="#" title="prev">2</a></li>
								<li><a href="#" title="prev">1</a></li>
								<li><a href="#" title="prev"><img src="images/page_prev.jpg" alt="prev" /></a></li>										
							</ul>
							<div class="link_wrap clearfix">
								<a class="back-top" href="#" title="Back to Home">Back to Home</a>
								<a title="Back to Home" href="#" class="to-top">Back to Top</a>
							</div>
						</div><!--END OF RIGHT COL-->
					</div><!--end of search_tutor-->
				</div><!--END OF CONTENT-->
				<div id="footer">
					<div class="foot-wrap clearfix">
						<ul class="foot-links clearfix">
							<li><a title="link1" href="#">Site Map</a></li>
							<li>|</li>
							<li><a title="link2" href="#">Privacy Policy</a></li>
							<li>|</li>
							<li><a title="link3" href="#">Terms of Membership</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Terms &amp; Conditions</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Contact Us</a></li>
						</ul>
						<p>Copyright &copy; TutorNavi All rights reserved.</p>
						<a class="foot-logo" title="Logo" href="#"><img alt="Logo" src="images/logo2.png" /></a>
					</div>
					<div class="shadow"></div>
				</div><!--END OF FOOTER-->
				
			</div>
			<!--END OF PAGE CONTENT-->

		</div><!--END OF WRAPPER-->
	</body>
</html>
