<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/sparkbox-select.css"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/IE9.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.sparkbox-select.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.sparkbox-custom').sbCustomSelect();
        });
    </script>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div class="header-top clearfix">
            <p>Hong Kong Language Tutors Reviews Site</p>
            <ul class="clearfix">
                <li>
                    <a href="#"  class="notify">6</a>
                    <div class="notify-content">
                        <h4>Your notifications</h4>
                        <ul class="clearfix">
                            <li>
                                <div class="left">
                                    <a href="#"><img src="img/avatar-1.jpg" width="30px" height="30px" alt=""/></a>
                                </div>
                                <div class="right">
                                    <p><a href="#">Nickname</a> commented on <a href="#">your xxxxx (blog title)</a></p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <a href="#"><img src="img/avatar-1.jpg" width="30px" height="30px" alt=""/></a>
                                </div>
                                <div class="right">
                                    <p><a href="#">Nickname</a> commented on <a href="#">your xxxxx (blog title)</a></p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <a href="#"><img src="img/avatar-1.jpg" width="30px" height="30px" alt=""/></a>
                                </div>
                                <div class="right">
                                    <p><a href="#">Nickname</a> commented on <a href="#">your xxxxx (blog title)</a></p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <a href="#"><img src="img/avatar-1.jpg" width="30px" height="30px" alt=""/></a>
                                </div>
                                <div class="right">
                                    <p><a href="#">Nickname</a> commented on <a href="#">your xxxxx (blog title)</a></p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <a href="#"><img src="img/avatar-1.jpg" width="30px" height="30px" alt=""/></a>
                                </div>
                                <div class="right">
                                    <p><a href="#">Nickname</a> commented on <a href="#">your xxxxx (blog title)</a></p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                            </li>
                            <li>
                                <div class="left">
                                    <a href="#"><img src="img/avatar-1.jpg" width="30px" height="30px" alt=""/></a>
                                </div>
                                <div class="right">
                                    <p><a href="#">Nickname</a> commented on <a href="#">your xxxxx (blog title)</a></p>
                                    <p><span>1 hour ago</span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>Nick name</li>
                <li><a title="link1" href="#">Log Out</a></li>
            </ul>
        </div>
        <div class="header-mid clearfix">
            <a class="logo" title="logo" href="#"><img alt="logo" src="img/logo.png" width="223" height="119"/></a>
            <div class="greeting"><p>Hello,  <span>Nickname</span> !</p></div>
            <div class="right">
                <ul class="quick-links">
                    <li><a id="faq" title="FAQ" href="#">FAQ</a></li>
                    <li><a id="map" title="SITE MAP" href="#">Site Map</a></li>
                    <li><a id="contact" title="CONTACT" href="#">Contact Us</a></li>
                    <li><a id="fave" title="FAVE" href="#">My Favorite</a></li>
                </ul>
                <ul class="language">
                    <li><a title="Jap" href="#">日本語</a></li>
                    <li><a title="Eng" href="#">ENG</a></li>
                </ul>
                <ul class="char-size">
                    <li class="title">Font Size:</li>
                    <li><a title="Small" href="#">S</a></li>
                    <li><a class="current" title="Medium" href="#">M</a></li>
                    <li><a title="Bold" href="#">B</a></li>
                </ul>
            </div>
        </div>
        <div class="main-nav">
            <ul class="clearfix">
                <li><a href="#" class="arrow-1">Mypage Top</a></li>
                <li><a href="#" class="arrow-1">Message</a></li>
                <li><a class="arrow-2" href="#">Blog</a></li>
                <li class="active"><a href="#" class="arrow-2">Job</a></li>
                <li><a href="#" class="arrow-3">Profile</a></li>
            </ul>
        </div>
    </div>
    <div id="container" class="two-col">
        <div class="crumbs-menu clearfix">
            <ul class="crumbs">
                <li><a href="#">Home</a></li>
                <li>&gt;</li>
                <li><a href="#">Tutor Job</a></li>
                <li>&gt;</li>
                <li><a href="#">Staff Wanted List</a></li>
            </ul>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Tutor Search</a></li>
                <li><a href="#">About Service</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Price List</a></li>
                <li><a href="#">Information</a></li>
            </ul>
        </div>
        <div class="page-title clearfix">
            <h2>Job Information   </h2>
            <div class="member-alert">
                <a class="button-upgrade" href="#">Upgrade Now</a>
                <ul>
                    <li>Member Type : <img src="img/type-Sliver.jpg" width="18" height="22" alt=""/> <a class="simple-tooltip" href="#" title="Silver"><img
                            src="img/icon-11.png"  alt=""/></a> </li>
                    <li><img src="img/icon-5.png" alt=""/>You have got <a href="#">0</a> new messages </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="sidebar-left">
                <div class="box">
                    <h2  style="letter-spacing: -1px">Request &nbsp; from &nbsp; Student <a href="#" class="click"></a></h2>
                    <ul>
                        <li><a href="#">Tutor Wanted List </a></li>
                        <li><a href="#">Job Applied</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h2>Request from Client <a href="#" class="click"></a></h2>
                    <ul>
                        <li class="active"><a href="#">Staff Wanted List </a></li>
                        <li><a href="#">Job Applied</a></li>
                    </ul>
                </div>
            </div>
            <div class="main-content">
                <div class="tutor-job">
                    <h1>Staff Wanted List</h1>
                    <div class="text clearfix">
                        <p>Here is the job request board from clients. You will be able to apply for the jobs which were posted by Platilum Clients for Free of Charge by clicking button 「Apply」,then you will get the respond message from the clients.Please note that you will not get all the request responds.
                            By upgrading your membership to platinum tutor account, you will be able to apply for all the jobs listed. <a href="#">Upgrade Now</a> </p>
                        <p class="clearfix"><a class="button" href="#">Membership Features</a></p>
                    </div>
                    <div class="request-tables staff-request-tables">
                        <div class="title clearfix">
                            <h1>Tutor Job Board</h1>
                            <div class="left">
                                <h2>Request for Signtseeing</h2>
                            </div>
                            <div class="right">
                                <p>Ref# H2012080912</p>
                                <p>Posted by : <a href="#">Celine</a></p>
                            </div>
                        </div>

                        <div class="table-wrap">
                            <div class="table">
                                <table class="table-type-2">
                                    <tr>
                                        <th>
                                            <h3>Request Title</h3>
                                        </th>
                                        <td>
                                            <p>Looking for a Japanese speaking local guide.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Details</h3>
                                        </th>
                                        <td>
                                            <p><br/><br/><br/><br/><br/><br/><br/><br/></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Requirements</h3>
                                        </th>
                                        <td>
                                            <p><br/><br/><br/><br/><br/></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Payment</h3>
                                        </th>
                                        <td>
                                            <p>&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Job Period</h3>
                                        </th>
                                        <td>
                                            <p>&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Recruit End Date</h3>
                                        </th>
                                        <td>
                                            <p>&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Post Date</h3>
                                        </th>
                                        <td>
                                            <p>2012/08/04</p>
                                        </td>
                                    </tr>
                                </table>
                                <div class="total">
                                    <p><img src="img/icon-14.png" alt=""/>Number of Applied Tutors ：4</p>
                                    <p><a href="">Request Status</a></p>
                                    <a href="#" class="button">Apply</a>
                                </div>
                            </div>
                        </div>


                        <div class="title clearfix">
                            <div class="left">
                                <h2>Request for Business</h2>
                            </div>
                        </div>
                        <div class="table-wrap">
                            <img class="close" src="img/close-table.png" alt=""/>
                            <div class="table">
                                <table class="table-type-2">
                                    <tr>
                                        <th>
                                            <h3>Request Title</h3>
                                        </th>
                                        <td>
                                            <p>Looking for a Japanese speaking local guide.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Details</h3>
                                        </th>
                                        <td>
                                            <p><br/><br/><br/><br/><br/><br/><br/><br/></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Requirements</h3>
                                        </th>
                                        <td>
                                            <p><br/><br/><br/><br/><br/></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Payment</h3>
                                        </th>
                                        <td>
                                            <p>&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Job Period</h3>
                                        </th>
                                        <td>
                                            <p>&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Recruit End Date</h3>
                                        </th>
                                        <td>
                                            <p>&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Post Date</h3>
                                        </th>
                                        <td>
                                            <p>2012/08/04</p>
                                        </td>
                                    </tr>
                                </table>
                                <div class="total">
                                    <p><img src="img/icon-14.png" alt=""/>Number of Applied Tutors ：4</p>
                                    <p><a href="">Request Status</a></p>
                                    <a href="#" class="button">Apply</a>
                                </div>
                            </div>
                        </div>


                        <div class="title clearfix">
                            <div class="left">
                                <h2>Request for Exhibition</h2>
                            </div>
                        </div>
                        <div class="table-wrap">
                            <div class="table">
                                <table class="table-type-2">
                                    <tr>
                                        <th>
                                            <h3>Request Title</h3>
                                        </th>
                                        <td>
                                            <p>Looking for a Japanese speaking local guide.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Details</h3>
                                        </th>
                                        <td>
                                            <p><br/><br/><br/><br/><br/><br/><br/><br/></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Requirements</h3>
                                        </th>
                                        <td>
                                            <p><br/><br/><br/><br/><br/></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Payment</h3>
                                        </th>
                                        <td>
                                            <p>&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Job Period</h3>
                                        </th>
                                        <td>
                                            <p>&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Recruit End Date</h3>
                                        </th>
                                        <td>
                                            <p>&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <h3>Post Date</h3>
                                        </th>
                                        <td>
                                            <p>2012/08/04</p>
                                        </td>
                                    </tr>
                                </table>
                                <div class="total">
                                    <p><img src="img/icon-14.png" alt=""/>Number of Applied Tutors ：4</p>
                                    <p><a href="">Request Status</a></p>
                                    <a href="#" class="button">Apply</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a class="button-next button-table-next" href="#">Next</a>
                </div>

            </div>
        </div>
    </div>
    <div id="footer">
            <ul class="foot-links">
                <li><a title="link1" href="#">Site Map</a></li>
                <li>|</li>
                <li><a title="link2" href="#">Privacy Policy</a></li>
                <li>|</li>
                <li><a title="link3" href="#">Terms of Membership</a></li>
                <li>|</li>
                <li><a title="link4" href="#">Terms &amp; Conditions</a></li>
                <li>|</li>
                <li><a title="link4" href="#">Contact Us</a></li>
            </ul>
            <p>Copyright © TutorNavi All rights reserved.</p>
            <a class="foot-logo" title="Logo" href="#"><img alt="Logo" src="img/logo-footer.png" width="97" height="55"/></a>
    </div>
</div>
</body>
</html>