<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Profile Creation</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/custom.css" rel="stylesheet" type="text/css" />
	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/pngfix.css">
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie6.css">
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie7.css">
	<![endif]-->
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="css/form.css">
	<![endif]-->
	<!--[if !IE]><!--><script type="text/javascript">  
	if (/*@cc_on!@*/false) {  
		document.documentElement.className+='ie10';  
	}  
	</script><!--<![endif]--> 
	</head>

	<body>
		<div class="wrapper clearfix">
			<div id="header" class="clearfix">
				<div class="header-top">
					<div class="inner-wrap clearfix">
						<p>Hong Kong Language Tutors Reviews Site</p>
						<ul class="clearfix">
							<li><a title="link2" href="#">Login</a></li>
							<li><a title="link1" href="#">Register</a></li>
						</ul>
					</div>
				</div><!--END OF HEADER TOP-->
				<div class="header-mid clearfix">
					<div class="inner-wrap clearfix">
						<a id="logo" title="logo" href="#"><img alt="logo" src="images/logo.jpg" /></a>
						<p class="greeting">Hello,  <span>Visitor</span>！</p>
						<div class="right">
							<ul class="quick-links clearfix">
								<li><a id="fave" title="FAVE" href="#">My Favorite</a></li>
								<li><a id="contact" title="CONTACT" href="#">Contact Us</a></li>
								<li><a id="map" title="SITE MAP" href="#">Site Map</a></li>
								<li><a id="faq" title="FAQ" href="#">FAQ</a></li>
							</ul><!--END OF QUICK LINKS-->
							<ul class="language clearfix">									
								<li><a title="Eng" href="#">ENG</a></li>
								<li><a title="Jap" href="#">日本語</a></li>
							</ul><!--END OF LANGUAGE-->
							<ul class="char-size clearfix">
								<li><a title="Bold" href="#">B</a></li>
								<li><a class="current" title="Medium" href="#">M</a></li>
								<li><a title="Small" href="#">S</a></li>
								<li class="title">Font Size:</li>
							</ul><!--END OF CHAR SIZE-->
							<a id="mypage" title="My Page" href="#">My Page</a>
						</div>
					</div>
				</div><!--END OF HEADER MID-->
				<div id="nav">
					<div class="inner-wrap clearfix">
						<ul class="clearfix">
							<li><a class="current" title="menu1" href="#">Home</a></li>
							<li><a title="menu2" href="#">Tutor Search</a></li>
							<li><a title="menu3" href="#">About Service</a></li>
							<li><a title="menu4" href="#">Community</a></li>
							<li><a title="menu5" href="#">Price List</a></li>
							<li class="last"><a title="menu6" href="#">Information</a></li>
						</ul>
					</div>
				</div><!--END OF NAV-->
			</div><!--END OF HEADER-->
			
			<!--START OF PAGE CONTENT-->
			<div class="content-wrap">
				<div id="content" class="clearfix">
					<ul class="crumbs clearfix">
						<li><a title="Home" href="#">Home</a></li>
						<li>></li>
						<li>Tutor Registration</li>
					</ul>
					
					<div class="registration_wrap content_box clearfix">
						<h2 class="c_title">Profile Create</h2>
						<div class="reg-bar">
							<ul class="regbar3 clearfix">
								<li class="li-0 done">Email Registration</li>
								<li class="li-1 done everify">Email Verification</li>
								<li class="li-2 current">Profile Creation</li>
								<li class="li-3">Profile Confirmation</li>
								<li class="li-4">Registration Finish</li>
							</ul>
						</div>
						<p>Please fill the form below to creat your profile, then click “Submit” button.You can also change the setting in “My Page”, after you login TutorNavi, <br/>so that your privacy personal information will not be public in TutorNavi.</p>
						<p>※You will be able to change the other information except “Registered Email Address”, “Nickname” and  “Gender”.</p>
						<div class="must mtb10"><span>Must</span>Field is a Must.</div>
						<h3>Basic Information</h3>
						<form class="tutor_reg_form" action="#">
							<table cellspacing="0" cellpadding="0">
								<tr>
									<th>Your Registered Email Address</th>
									<td class="input_wrap"></td>
									<td>
										<p class="wide">* Registered Email Address is for Login TutorNavi.</p>
										<p>* This will not be changed when you complete the registration.</p>
									</td>
								</tr>
								<tr>
									<th><div class="must"><span>Must</span></div>Nickname<br/>
										<p>*Visible to all the members</p></th>
									<td class="input_wrap"><input type="text" /></td>
									<td>
										<p>* Min. 6 alpha-numerical characters</p>
										<p>* This will not be changed when you complete the registration.</p>
									</td>
								</tr>
								<tr>
									<th><div class="must"><span>Must</span></div>Password</th>
									<td class="input_wrap"><input type="text" /></td>
									<td><p>* Min.6 alpha-numerical characters</p></td>
								</tr>
								<tr>
									<th><div class="must"><span>Must</span></div>Re-enter Password</th>
									<td class="input_wrap"><input type="text" /></td>
									<td><p>* For Confirmation Purpose</p></td>
								</tr>
								<tr>
									<td class="break">※Personal information</td>
								</tr>
								<tr>
									<th><div class="must"><span>Must</span></div>Name (Confidential)</th>
									<td colspan="2">
										<div class="cntact">
										<label for="sname">Surname</label><input id="sname" type="text" />
										<label for="fname">First Name</label><input type="text" id="fname" />
										<label class="note">eg) Surname: Takaki First Name: Naogo</label></div>
									</td>
									
								</tr>
								<tr>
									<th><div class="must"><span>Must</span></div>Gender </th>
									<td class="input_wrap" id="gender"  colspan="2">
										<input type="radio" name="gender" value="female" id="f" /><label for="f">Female</label>
										<input type="radio" name="gender" value="male" id="m"/><label for="m">Male</label>
									</td>
								</tr>
								<tr>
									<th><div class="must"><span>Must</span></div>Date of Birth </th>
									<td id="age2" class="input_wrap"  colspan="2">
										<input type="text" name="age" id="d1"  value="" class="mo" /><label for="d1" class="age">Month</label>
										<input type="text" name="age" id="d2" value="" class="day" /><label for="d2" class="age">Date</label>
										<input type="text" name="age" id="d3" value="" class="year" /><label for="d3" class="age">Year</label>
									</td>
								</tr>
								<tr>
									<th><div class="must"><span>Must</span></div>Nationality</th>
									<td colspan="2" class="sel1">
										<select>
											<option></option>
										</select>
									</td>
								</tr>
								<tr>
									<th><div class="must"><span>Must</span></div>Education </th>
									<td colspan="2" class="sel1">
										<select>
											<option></option>
										</select>
									</td>
								</tr>
								<tr>
									<th>Former/Curren Job</th>
									<td colspan="2" class="input_wrap"><input type="text" /></td>
								</tr>
								<tr>
									<th><div class="must"><span>Must</span></div>Telephone </th>
									<td colspan="2" class="input_wrap phone">
										<div class="wrap"><select>
											<option>Home Number</option>
											<option>Mobile</option>
											<option>Office</option>
										</select>
										<input type="text" /></div>
									</td>
								</tr>
								<tr>
									<th>Emergency Contact Phone Number</th>
									<td colspan="2" class="input_wrap"><input type="text" /></td>
								</tr>
								<tr>
									<th><div class="must"><span>Must</span></div>Address<p>(Confidential)</p></th>
									<td colspan="2" class="add">
										<div class="wrap"><label for="flat">Flat/Room</label><input type="text" id="flat" /></div>
										<div class="wrap"><label for="bldg">Building/Mansion</label><input type="text" id="bldg" /></div>
										<div class="wrap"><label for="strt">Street/District</label><input type="text" id="strt" /></div>
										<div class="wrap">
										<label>Area</label>
										<select>
											<option>HongKong</option>
											<option>Kowloon</option>
											<option>etc..</option>
										</select>
										</div>
										<p>※Address is information that allows you to be identified as a particular person. Please enter correct address</p>
									</td>
								</tr>
								<tr>
									<th><div class="must"><span>Must</span></div>Receive Newsletters  from TutorNavi? </th>
									<td class="choices " id="letter"  colspan="2">
										<input type="radio" name="letter" id="y" /><label for="y">Yes</label>
										<input type="radio" name="letter" id="n" /><label for="n">No</label>
									</td>
								</tr>
								<tr>
									<th><div class="must"><span>Must</span></div>How did you find us?</th>
									<td class="choices" id="adv" colspan="2">
										<input type="checkbox" id="adv1" /><label for="adv1">Internet</label>
										<input type="checkbox" id="adv2" /><label for="adv2">Free Paper</label>
										<input type="checkbox" id="adv3" /><label for="adv3">Leaflet</label>
										<input type="checkbox" id="adv4" /><label for="adv4">Recommender by Friends</label>
										<div class="wrap">
										<input type="checkbox" id="adv5" /><label for="adv5">Others</label><input type="text" class="others" />
										</div>
									</td>
								</tr>
								<tr>
									<th><div class="must"><span>Must</span></div>Language Ability<p>※Native Language is the language you teach （allow multiple selection）</p></th>
									<td class="input_wrap" id="lang" colspan="2">
										<div class="wrap choices">
											<select>
												<option>English</option>
												<option>Chinese</option>
												<option>Japanese</option>
											</select>
											<input type="radio" name="lang1" id="lang1a" /><label for="lang1a">Native</label>
											<input type="radio" name="lang1" id="lang1b" /><label for="lang1b">Fluent</label>
											<input type="radio" name="lang1" id="lang1c" /><label for="lang1c">Conversation</label>
											<input type="radio" name="lang1" id="lang1d" /><label for="lang1d">Hide</label>
											<a title="hide" class="hide" href="#"><img alt="hide" src="images/btn_hide.jpg" /></a>
										</div>
										<div class="wrap choices">
										<select>
											<option>Cantonese</option>
											<option>Chinese</option>
											<option>Japanese</option>
										</select>
										<input type="radio" name="lang2" id="lang2e" /><label for="lang2e">Native</label>
										<input type="radio" name="lang2" id="lang2f" /><label for="lang2f">Fluent</label>
										<input type="radio" name="lang2" id="lang2g" /><label for="lang2g">Conversation</label>
										<input type="radio" name="lang2" id="lang2h" /><label for="lang2h">Show</label>
										<a title="show" class="show" href="#"><img alt="show" src="images/btn_show.jpg" /></a>
										</div>										
									</td>
								</tr>
								<tr>
									<th><div class="must"><span>Must</span></div>Teaching Experience</th>
									<td class="choices" id="exp" colspan="2">
										<input type="checkbox" id="exp1" /><label for="exp1">Less 1 year</label>
										<input type="checkbox" id="exp2" /><label for="exp2">1 year ~ 3 year</label>
										<input type="checkbox" id="exp3" /><label for="exp3">3 year ~ 5 year</label>
										<input type="checkbox" id="exp4" /><label for="exp4">Over 5 years</label>
									</td>
								</tr>
								<tr>
									<th><div class="must"><span>Must</span></div>Familiar Field</th>
									<td class="choices" id="ff" colspan="2">
										<div class="wrap">
											<input type="checkbox" id="ff1" /><label for="ff1">Culture</label>
											<input type="checkbox" id="ff2" /><label for="ff2">Economy</label>
											<input type="checkbox" id="ff3" /><label for="ff3">Accounting</label>
											<input type="checkbox" id="ff4" /><label for="ff4">Trading</label>
											<input type="checkbox" id="ff5" /><label for="ff5">Finance</label>
										</div>
										<div class="wrap choices">
											<input type="checkbox" id="ff6" /><label for="ff6">Law</label>
											<input type="checkbox" id="ff7" /><label for="ff7">China Business</label>
											<input type="checkbox" id="ff8" /><label for="ff8">Others</label>
                                            <input type="text" id="ff9" class="others"/>
										</div>
									</td>
								</tr>
								<tr>
									<td class="break btn" colspan="3"><input type="submit" class="next" value="Next" /></td>
								</tr>
							</table>
						</form>
						<a class="back-top" title="Back to Home" href="#">Back to Home</a>
					</div><!--END OF REGISRAION WRAP-->
					
				</div><!--END OF CONTENT-->
				<div id="footer">
					<div class="foot-wrap clearfix">
						<ul class="foot-links clearfix">
							<li><a title="link1" href="#">Site Map</a></li>
							<li>|</li>
							<li><a title="link2" href="#">Privacy Policy</a></li>
							<li>|</li>
							<li><a title="link3" href="#">Terms of Membership</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Terms &amp; Conditions</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Contact Us</a></li>
						</ul>
						<p>Copyright &copy; TutorNavi All rights reserved.</p>
						<a class="foot-logo" title="Logo" href="#"><img alt="Logo" src="images/logo2.png" /></a>
					</div>
					<div class="shadow"></div>
				</div><!--END OF FOOTER-->
				
			</div>
			<!--END OF PAGE CONTENT-->

		</div><!--END OF WRAPPER-->
	</body>
</html>
