<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/IE9.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
<div id="wrapper">
<div id="header">
    <div class="header-top clearfix">
        <p>Hong Kong Language Tutors Reviews Site</p>
        <ul class="clearfix">
            <li>Nickname</li>
            <li><a title="link1" href="#">Log Out</a></li>
        </ul>
    </div>
    <div class="header-mid clearfix">
        <a class="logo" title="logo" href="#"><img alt="logo" src="img/logo.png" width="223" height="119"/></a>
        <div class="greeting"><p>Hello,  <span>Nickname</span> !</p></div>
        <div class="right">
            <ul class="quick-links">
                <li><a id="faq" title="FAQ" href="#">FAQ</a></li>
                <li><a id="map" title="SITE MAP" href="#">Site Map</a></li>
                <li><a id="contact" title="CONTACT" href="#">Contact Us</a></li>
                <li><a id="fave" title="FAVE" href="#">My Favorite</a></li>
            </ul>
            <ul class="language">
                <li><a title="Jap" href="#">日本語</a></li>
                <li><a title="Eng" href="#">ENG</a></li>
            </ul>
            <ul class="char-size">
                <li class="title">Font Size:</li>
                <li><a title="Small" href="#">S</a></li>
                <li><a class="current" title="Medium" href="#">M</a></li>
                <li><a title="Bold" href="#">B</a></li>
            </ul>
        </div>
    </div>
    <div class="main-nav">
        <ul class="clearfix">
            <li><a href="#" class="arrow-1">Mypage Top</a></li>
            <li><a href="#" class="arrow-1">Message</a></li>
            <li class="active"><a class="arrow-2" href="#">Blog</a></li>
            <li><a href="#" class="arrow-2">Job</a></li>
            <li><a href="#" class="arrow-3">Profile</a></li>
        </ul>
    </div>
</div>
<div id="container" class="two-col">
<div class="crumbs-menu clearfix">
    <ul class="crumbs">
        <li><a href="#">Home</a></li>
        <li>&gt;</li>
        <li><a href="#">Tutor Blog</a></li>
    </ul>
    <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Tutor Search</a></li>
        <li><a href="#">About Service</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Price List</a></li>
        <li><a href="#">Information</a></li>
    </ul>
</div>
<div class="page-title clearfix">
    <h2>Blog Management</h2>
    <div class="member-alert">
        <a class="button-upgrade" href="#">Upgrade Now</a>
        <ul>
            <li>Member Type : <img src="img/type-Sliver.jpg" width="18" height="22" alt=""/> <a class="simple-tooltip" href="#" title="Silver"><img
                    src="img/icon-11.png"  alt=""/></a> </li>
            <li><img src="img/icon-5.png" alt=""/>You have got <a href="#">0</a> new messages </li>
        </ul>
    </div>
</div>
<div class="content">
<div class="sidebar-left">
    <div class="box">
        <h2>Entry • Edit <a href="#" class="click"></a></h2>
        <ul>
            <li><a href="#">New Blog</a></li>
            <li><a href="#">Edit • Delete Blog</a></li>
            <li><a href="#">Category Management</a></li>
        </ul>
    </div>
    <div class="box">
        <h2>Reader  •  Comments <a href="#" class="click"></a></h2>
        <ul>
            <li><a href="#">Reader Management</a></li>
            <li><a href="#">Comments</a></li>
        </ul>
    </div>
    <div class="box">
        <h2>Access <a href="#" class="click"></a></h2>
        <ul>
            <li><a href="#">Access Log</a></li>
        </ul>
    </div>
</div>
<div class="main-content-tutor-blog">
    <div class="tutor-blog">
        <div class="create-button">
            <p>All registered tutors may create their own blog to promote themselves.</p>
            <p><span>Tutor Blog Ranking will help you get more traffic to your blog on TutorNavi</span></p>
            <p>Write any thoughts about lessons, frequent mistakes by the students, Grammar Talk, etc.</p>
            <p>Once the blog is approved, it will be published on TutorNavi！</p>
            <p>Click ↓ Start Tutor Blogs Now！</p>
            <a class="button" href="#"> Create Blog </a>
        </div>
        <div class="create-step">
            <h1>Start Tutor Blog , Get More Students！</h1>
            <div class="step-1 clearfix">
                <h2>1. Your new created blogs will show at top of the tutor blog search results!</h2>
                <div class="step-left">
                    <img src="img/Tutor_Blog-pic-1.jpg" alt=""/>
                </div>
                <div class="step-right">
                    <p>Once your new blog get approved by TutorNavi, it will show at top of the tutor blog search results ! Start your blogs today, get more tutor jobs now !</p>
                    <p>※Please note that on some occasions, your new created blogs might not show at the top 1 of the tutor blog search results as several tutors blogs get approved at the same time. Or your new blog post is not published on real time because of the internet server issues.</p>
                </div>
            </div>
            <div class="step-2 clearfix">
                <h2>2. Tutor blogs will show on the tutor detailed profile page! <br/>Promote yourself by writing blogs!</h2>
                <div class="step-left">
                    <p>Tutor detailed profile page without blog posts</p>
                    <img src="img/Tutor_Blog-pic-2.jpg" alt=""/>
                </div>
                <div class="step-right">
                    <p>Tutor detailed profile page with blog posts </p>
                    <div class="image">
                        <img src="img/Tutor_Blog-pic-3.jpg" alt=""/>
                        <p class="text-1">Blog</p>
                        <p class="text-2">Language and Cultural <span>NEW!</span></p>
                        <p class="text-3">English Pronounciation・Accent</p>
                        <p class="text-4">Lesson Starts</p>
                    </div>
                    <h4>Tutor blogs show here</h4>
                    <p>※ Frequent mistakes by the students, Grammar Talk, etc.！</p>
                </div>
            </div>
            <div class="step-3 clearfix">
                <h2>3. Check blog views on tutor blog details page!   </h2>
                <div class="image">
                    <img src="img/Tutor_Blog-pic-4.jpg" width="509" height="308" alt=""/>
                    <p class="text-1">Comments: 13</p>
                    <p class="text-2">View Tutor’s detailed Profile</p>
                    <p class="text-3">Comments: 3</p>
                    <p class="text-4">Comment [Show | <span>Hide</span>]</p>
                    <p class="text-5">※Check blog comments here !</p>
                </div>
            </div>
        </div>
        <div class="back-home-top clearfix">
            <a class="back-home" href="#">Back to Home</a>
            <a class="back-top" href="#">Back to Top</a>
        </div>
    </div>
</div>

</div>
</div>
<div id="footer">
    <ul class="foot-links">
        <li><a title="link1" href="#">Site Map</a></li>
        <li>|</li>
        <li><a title="link2" href="#">Privacy Policy</a></li>
        <li>|</li>
        <li><a title="link3" href="#">Terms of Membership</a></li>
        <li>|</li>
        <li><a title="link4" href="#">Terms &amp; Conditions</a></li>
        <li>|</li>
        <li><a title="link4" href="#">Contact Us</a></li>
    </ul>
    <p>Copyright © TutorNavi All rights reserved.</p>
    <a class="foot-logo" title="Logo" href="#"><img alt="Logo" src="img/logo-footer.png" width="97" height="55"/></a>
</div>
</div>
</body>
</html>