<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>About Service For Tutor</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/custom.css" rel="stylesheet" type="text/css" />
	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/pngfix.css">
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie6.css">
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie7.css">
	<![endif]-->

	</head>

	<body>
		<div class="wrapper clearfix">
			<div id="header" class="clearfix">
				<div class="header-top">
					<div class="inner-wrap clearfix">
						<p>Hong Kong Language Tutors Reviews Site</p>
						<ul class="clearfix">
							<li><a title="link2" href="#">Login</a></li>
							<li><a title="link1" href="#">Register</a></li>
						</ul>
					</div>
				</div><!--END OF HEADER TOP-->
				<div class="header-mid clearfix">
					<div class="inner-wrap clearfix">
						<a id="logo" title="logo" href="#"><img alt="logo" src="images/logo.jpg" /></a>
						<p class="greeting">Hello,  <span>Visitor</span>！</p>
						<div class="right">
							<ul class="quick-links clearfix">
								<li><a id="fave" title="FAVE" href="#">My Favorite</a></li>
								<li><a id="contact" title="CONTACT" href="#">Contact Us</a></li>
								<li><a id="map" title="SITE MAP" href="#">Site Map</a></li>
								<li><a id="faq" title="FAQ" href="#">FAQ</a></li>
							</ul><!--END OF QUICK LINKS-->
							<ul class="language clearfix">									
								<li><a title="Eng" href="#">ENG</a></li>
								<li><a title="Jap" href="#">日本語</a></li>
							</ul><!--END OF LANGUAGE-->
							<ul class="char-size clearfix">
								<li><a title="Bold" href="#">B</a></li>
								<li><a class="current" title="Medium" href="#">M</a></li>
								<li><a title="Small" href="#">S</a></li>
								<li class="title">Font Size:</li>
							</ul><!--END OF CHAR SIZE-->
							<a id="mypage" title="My Page" href="#">My Page</a>
						</div>
					</div>
				</div><!--END OF HEADER MID-->
				<div id="nav">
					<div class="inner-wrap clearfix">
						<ul class="clearfix">
							<li><a class="current" title="menu1" href="#">Home</a></li>
							<li><a title="menu2" href="#">Tutor Search</a></li>
							<li><a title="menu3" href="#">About Service</a></li>
							<li><a title="menu4" href="#">Community</a></li>
							<li><a title="menu5" href="#">Price List</a></li>
							<li class="last"><a title="menu6" href="#">Information</a></li>
						</ul>
					</div>
				</div><!--END OF NAV-->
			</div><!--END OF HEADER-->
			
			<!--START OF PAGE CONTENT-->
			<div class="content-wrap">
				<div id="content" class="clearfix">
					<ul class="crumbs clearfix">
						<li><a title="Home" href="#">Home</a></li>
						<li>&gt;</li>
						<li><a title="About Service" href="#">About Service</a></li>
                        <li>&gt;</li>
                        <li>Tutor</li>
					</ul>
					
					<div class="about-service clearfix">
                    	<div class="sidebar-left">
                            <div class="menu-bar-left">
                                <ul>
                                    <li class="first"><h3>TutorNavi Service</h3></li>
                                    <li class="link active"><a href="About_Service-For_Tutor.html">For Tutors</a></li>
                                    <li class="link"><a href="About_Service-For_Student.html">For Students</a></li>
                                    <li><h3>TutorNavi Users</h3></li>
                                    <li class="link"><a href="About_Service-For_Individualssent.html">Individual</a></li>
                                    <li class="last link"><a href="About_Service-For_Clientssent.html">Company Clients</a></li>
                                </ul>
                            </div>
                    	</div>
                        <div class="content-right">
                            <div class="title">
                                <h1>About Service</h1>
                                <img src="images/service.png" alt=""/>
                            </div>
                            <div class="tutor-navi-service">
                                <h2>For Tutor</h2>
                                <ul>
                                    <li>
                                        <div class="left">
                                            <p>Point<br/> 1</p>
                                        </div>
                                        <div class="right">
                                            <h3><span>Publishing of Tutors’ Profiles</span><img  src="images/free.png" alt=""/></h3>
                                            <p>Tutors’ Profiles will be published once they are approved. The tutor’s basic information, lesson details, schedule, etc., are required. Tutors may edit their profile and change the privacy setting at their mypage. </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left">
                                            <p>Point<br/> 2</p>
                                        </div>
                                        <div class="right">
                                            <h3><span>Create Blog at Tutor Mypage</span><img  src="images/free.png" alt=""/></h3>
                                            <p>All registered tutors may create their own blog to promote themselves.Write any thoughts about lessons, frequent language mistakes by the students, Grammar Talk, etc. Once the blog is approved, it will be published on TutorNavi.Also, the tutors will be able to set the privacy level and manage the blog comments on the blog.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left">
                                            <p>Point<br/> 3</p>
                                        </div>
                                        <div class="right">
                                            <h3><span>Search for Students </span><img  src="images/free.png" alt=""/></h3>
                                            <p>Registered tutors will be able to apply for the jobs which were posted by Platilum Students for Free of Charge by clicking button 「Apply」,then will get the respond message from the students.By upgrading tutors membership to platinum tutor account,tutors will be able to apply for all the jobs listed.For more info please check
                                                <a href="#">Membership Features</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left">
                                            <p>Point<br/> 4</p>
                                        </div>
                                        <div class="right">
                                            <h3><span>Apply for Part time Jobs</span><img  src="images/free.png" alt=""/></h3>
                                            <p>Recruiting Posts from companies and schools will be published on the Job Information section of Tutor’s mypage. Recruiting job posts include translation, interpreter, factory visits, client and company visits. Tutors will be able to apply for the job which were posted by the platilum plan for Free of Charge. Company clients recruit a tutor by reading through tutor profiles and tutor blogs to select a candidate.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left">
                                            <p>Point<br/> 5</p>
                                        </div>
                                        <div class="right">
                                            <h3><span>Reply to Questions at 「Community」</span></h3>
                                            <p>Registered tutors will be able to reply to questions from the students. This is one way to earn a solid reputation and garner response from the students.</p>
                                        </div>
                                    </li>
                                </ul>
                                <a class="button-register-now" href="#">Register Now</a>
                            </div>
                            <div class="link_wrap clearfix">
                                <a title="Back to Home" href="#" class="back-top">Back to Home</a>
                            </div>
                        </div>

					</div><!--END OF REGISRAION WRAP-->
					
				</div><!--END OF CONTENT-->
				<div id="footer">
					<div class="foot-wrap clearfix">
						<ul class="foot-links clearfix">
							<li><a title="link1" href="#">Site Map</a></li>
							<li>|</li>
							<li><a title="link2" href="#">Privacy Policy</a></li>
							<li>|</li>
							<li><a title="link3" href="#">Terms of Membership</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Terms &amp; Conditions</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Contact Us</a></li>
						</ul>
						<p>Copyright &copy; TutorNavi All rights reserved.</p>
						<a class="foot-logo" title="Logo" href="#"><img alt="Logo" src="images/logo2.png" /></a>
					</div>
					<div class="shadow"></div>
				</div><!--END OF FOOTER-->
				
			</div>
			<!--END OF PAGE CONTENT-->

		</div><!--END OF WRAPPER-->
	</body>
</html>
