<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>FAQ</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/custom.css" rel="stylesheet" type="text/css" />
	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/pngfix.css">
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie6.css">
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie7.css">
	<![endif]-->
	</head>

	<body>
		<div class="wrapper clearfix">
			<div id="header" class="clearfix">
				<div class="header-top">
					<div class="inner-wrap clearfix">
						<p>Hong Kong Language Tutors Reviews Site</p>
						<ul class="clearfix">
							<li><a title="link2" href="#">Login</a></li>
							<li><a title="link1" href="#">Register</a></li>
						</ul>
					</div>
				</div><!--END OF HEADER TOP-->
				<div class="header-mid clearfix">
					<div class="inner-wrap clearfix">
						<a id="logo" title="logo" href="#"><img alt="logo" src="images/logo.jpg" /></a>
						<p class="greeting">Hello,  <span>Visitor</span>！</p>
						<div class="right">
							<ul class="quick-links clearfix">
								<li><a id="fave" title="FAVE" href="#">My Favorite</a></li>
								<li><a id="contact" title="CONTACT" href="#">Contact Us</a></li>
								<li><a id="map" title="SITE MAP" href="#">Site Map</a></li>
								<li><a id="faq" title="FAQ" href="#">FAQ</a></li>
							</ul><!--END OF QUICK LINKS-->
							<ul class="language clearfix">									
								<li><a title="Eng" href="#">ENG</a></li>
								<li><a title="Jap" href="#">日本語</a></li>
							</ul><!--END OF LANGUAGE-->
							<ul class="char-size clearfix">
								<li><a title="Bold" href="#">B</a></li>
								<li><a class="current" title="Medium" href="#">M</a></li>
								<li><a title="Small" href="#">S</a></li>
								<li class="title">Font Size:</li>
							</ul><!--END OF CHAR SIZE-->
							<a id="mypage" title="My Page" href="#">My Page</a>
						</div>
					</div>
				</div><!--END OF HEADER MID-->
				<div id="nav">
					<div class="inner-wrap clearfix">
						<ul class="clearfix">
							<li><a class="current" title="menu1" href="#">Home</a></li>
							<li><a title="menu2" href="#">Tutor Search</a></li>
							<li><a title="menu3" href="#">About Service</a></li>
							<li><a title="menu4" href="#">Community</a></li>
							<li><a title="menu5" href="#">Price List</a></li>
							<li class="last"><a title="menu6" href="#">Information</a></li>
						</ul>
					</div>
				</div><!--END OF NAV-->
			</div><!--END OF HEADER-->
			
			<!--START OF PAGE CONTENT-->
			<div class="content-wrap">
				<div id="content" class="clearfix">
					<ul class="crumbs clearfix">
						<li>Home</li>
						<li>></li>
						<li>FAQ</li>
					</ul>
					<div class="faq two_col clearfix">
						<div class="left_col clearfix">
							<div class="cat_ttl">Category</div>
							<ul class="cat_sidebar clearfix">
								<li><a class="current" title="topic1" href="#">About TutorNavi(Q7)</a></li>
								<li><a title="topic2" href="#">Registration(Q11)</a></li>
								<li><a title="topic3" href="#">Login ID/Password Change(Q4)</a></li>
								<li><a title="topic4" href="#">Search Function(Q4)</a></li>
								<li><a title="topic5" href="#">Message(Q6)</a></li>
								<li><a title="topic5" href="#">Blogs(Q6)</a></li>
								<li><a title="topic5" href="#">About Community Board(Q4)</a></li>
								<li><a title="topic5" href="#">For Business Clients(Q3)</a></li>
								<li><a title="topic5" href="#">About Lesson(Q11)</a></li>
								<li><a title="topic6" href="#">Membership Features(Q6)</a></li>
								<li><a title="topic5" href="#">About Security(Q2)</a></li>
							</ul>
							<div class="cat_bottom"></div>
						</div><!--END OF LEFT COL-->
							
						<div class="right_col clearfix">
							<div class="tip_head">
								<p>About TutorNavi</p>
							</div>
							
							<ul class="faq-list clearfix">
								<li>
									<span>Q1: What is the TutorNavi Platform?</span>
									<div>A1: TutorNavi is a website platform which connects language tutors with students and provides clients with interpreters and translators. Tutors may create a profile, write blogs and interact with students in the community. Students can reply to Platinum Members who have contacted you first for free of charge, or upgrade to Platinum membership to contact unlimited members. Once they have chosen a tutor, private lessons can be held at a café, shop or via the Internet. </div>
								</li>
								<li>
									<span>Q2: What is TutorNavi service?</span>
									<div></div>
								</li>
								<li>
									<span>Q3: Who will be a qualified TutorNavi registered tutor?</span>
									<div></div>
								</li>
								<li>
									<span>Q4: What is the process of searching for a tutor?</span>
									<div></div>
								</li>
								<li>
									<span>Q5: Does TutorNavi provide a service which contacts the tutor for the tutee student?</span>
									<div></div>
								</li>
								<li>
									<span>Q6: Do you provide any services other than language learning and translation?</span>
									<div></div>
								</li>
								<li>
									<span>Q7: Does TutorNavi has a mobile version?</span>
									<div></div>
								</li>
							</ul>
							<ul class="page_nav clearfix">
										<li><a href="#" title="prev"><img src="images/page_next.jpg" alt="prev"  /></a></li>
										<li><a href="#" title="prev">10</a></li>
										<li><a href="#" title="prev">9</a></li>
										<li><a href="#" title="prev">8</a></li>
										<li><a href="#" title="prev">7</a></li>
										<li><a href="#" title="prev">6</a></li>
										<li><a href="#" title="prev">5</a></li>
										<li><a href="#" title="prev">4</a></li>
										<li><a href="#" title="prev">3</a></li>
										<li class="current"><a href="#" title="prev">2</a></li>
										<li><a href="#" title="prev">1</a></li>
										<li><a href="#" title="prev"><img src="images/page_prev.jpg" alt="prev" /></a></li>										
									</ul>
							<div class="link_wrap clearfix">
							<a class="back-top" href="#" title="Back to Home">Back to Home</a>
							<a title="Back to Home" href="#" class="to-top">Back to Top</a>
						</div>
						</div><!--END OF RIGHT COL-->
					</div>
				</div><!--END OF CONTENT-->
				<div id="footer">
					<div class="foot-wrap clearfix">
						<ul class="foot-links clearfix">
							<li><a title="link1" href="#">Site Map</a></li>
							<li>|</li>
							<li><a title="link2" href="#">Privacy Policy</a></li>
							<li>|</li>
							<li><a title="link3" href="#">Terms of Membership</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Terms &amp; Conditions</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Contact Us</a></li>
						</ul>
						<p>Copyright &copy; TutorNavi All rights reserved.</p>
						<a class="foot-logo" title="Logo" href="#"><img alt="Logo" src="images/logo2.png" /></a>
					</div>
					<div class="shadow"></div>
				</div><!--END OF FOOTER-->
				
			</div>
			<!--END OF PAGE CONTENT-->

		</div><!--END OF WRAPPER-->
	</body>
</html>
