<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Private Tutoring Benefit</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/custom.css" rel="stylesheet" type="text/css" />
	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/pngfix.css">
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie6.css">
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie7.css">
	<![endif]-->
	</head>

	<body>
		<div class="wrapper clearfix">
			<div id="header" class="clearfix">
				<div class="header-top">
					<div class="inner-wrap clearfix">
						<p>Hong Kong Language Tutors Reviews Site</p>
						<ul class="clearfix">
							<li><a title="link2" href="#">Login</a></li>
							<li><a title="link1" href="#">Register</a></li>
						</ul>
					</div>
				</div><!--END OF HEADER TOP-->
				<div class="header-mid clearfix">
					<div class="inner-wrap clearfix">
						<a id="logo" title="logo" href="#"><img alt="logo" src="images/logo.jpg" /></a>
						<p class="greeting">Hello,  <span>Visitor</span>！</p>
						<div class="right">
							<ul class="quick-links clearfix">
								<li><a id="fave" title="FAVE" href="#">My Favorite</a></li>
								<li><a id="contact" title="CONTACT" href="#">Contact Us</a></li>
								<li><a id="map" title="SITE MAP" href="#">Site Map</a></li>
								<li><a id="faq" title="FAQ" href="#">FAQ</a></li>
							</ul><!--END OF QUICK LINKS-->
							<ul class="language clearfix">									
								<li><a title="Eng" href="#">ENG</a></li>
								<li><a title="Jap" href="#">日本語</a></li>
							</ul><!--END OF LANGUAGE-->
							<ul class="char-size clearfix">
								<li><a title="Bold" href="#">B</a></li>
								<li><a class="current" title="Medium" href="#">M</a></li>
								<li><a title="Small" href="#">S</a></li>
								<li class="title">Font Size:</li>
							</ul><!--END OF CHAR SIZE-->
							<a id="mypage" title="My Page" href="#">My Page</a>
						</div>
					</div>
				</div><!--END OF HEADER MID-->
				<div id="nav">
					<div class="inner-wrap clearfix">
						<ul class="clearfix">
							<li><a class="current" title="menu1" href="#">Home</a></li>
							<li><a title="menu2" href="#">Tutor Search</a></li>
							<li><a title="menu3" href="#">About Service</a></li>
							<li><a title="menu4" href="#">Community</a></li>
							<li><a title="menu5" href="#">Price List</a></li>
							<li class="last"><a title="menu6" href="#">Information</a></li>
						</ul>
					</div>
				</div><!--END OF NAV-->
			</div><!--END OF HEADER-->
			
			<!--START OF PAGE CONTENT-->
			<div class="content-wrap">
				<div id="content" class="clearfix">
					<ul class="crumbs clearfix">
						<li>Home</li>
						<li>></li>
						<li><a title="Home" href="#">Information</a></li>
						<li>></li>
						<li>Private Tutoring Benefit</li>
					</ul>
					<div class="benefit two_col clearfix">
						<div class="left_col clearfix">
							<ul class="sidebar clearfix">
								<li><a title="topic1" href="#">How to Choose your Language Tutor</a></li>
								<li><a class="current" title="topic2" href="#">The Advantage of Private Lesson</a></li>
								<li><a title="topic3" href="#">Information of Langauge Tests</a></li>
								<li><a title="topic4" href="#">Teaching Certificate of Language Tutors</a></li>
								<li><a title="topic5" href="#">Advice for Students</a></li>
								<li><a title="topic6" href="#">Advice for Tutors</a></li>
							</ul>
						</div><!--END OF LEFT COL-->
							
						<div class="right_col clearfix">
							<div class="tip_head">
								<h2>The Advantages of Private Lessons </h2>
								<p>Why private lessons? How is it different from a classroom lesson?</p>
								<p>Which students are better suited to private lessons?</p>
							</div>
							<div class="private_lesson clearfix">
								<h2 class="green">Private Lesson or Class Lesson?</h2>
								<h2 class="orange arrow">Private Lesson is One tutor teaching to One student</h2>
								<p>Is a private lesson better than a classroom lesson for learning a foreign language?</p>
								<p>In a private lesson, the tutor’s focus is on only one student.</p>
								<p>However, in a classroom lesson, one tutor is teaching many students. It is more difficult to maintain control and focus because some students learn faster than others. </p>
								<p>Another benefit of private lessons is that the tutor comes to the student’s place. Also, when the student needs to reschedule a lesson, they only need to adjust the lesson time with the tutor.</p>
								<p>Whereas, for a classroom lesson, the student must travel to the school to attend the lesson which is at a fixed time every week. If the students is not able to attend the class, they will miss it.</p>
								<div class="info_list">
									<h2 class="green">Which students are better suited to private lessons?</h2>
									<ul class="clearfix">
										<li>
											<p class="title">Not suited to Class Lessons</p>
											<p>The students might wonder “Am I suited to Private Lessons or Class Lessons?” before they decide to study a language. Some 
												  students are more suited to Class Lessons and some students are more suited to Private Lessons. If the student feels he/she 
												  is a fast-learner, or they’d like to practice more oral language skills, they should probably attend individual lessons.
											</p>
										</li>
										<li>
											<p class="title">Want to improve oral language skills after Class Lesson</p>
											<p>Attending Class Lessons with lots of classmates seems happier. However individual’s oral language practice time is limited in 
												  a classroom. In a Private Lesson, the student will have more opportunity to speak with his (her) private tutor and, whenever     
												  the student makes a mistake, he (she) will get corrected by the tutor immediately.
											</p>
										</li>
										<li>
											<p class="title">A private tutor is aware of the student’s weaknesses and is able to tailor his/her teaching to the individual.</p>
											<p>Some students are too shy to ask questions in class, especially in front of foreign tutors and some students might worry they 
												  will be laughed at by their classmates when they ask silly questions in class. However, these students feel free to ask ques     
												  tions of a private tutor.
											</p>
										</li>
									</ul>
								</div>
								<h2 class="green">What is the Disadvantage of Private Lessons?</h2>
								<h2 class="orange arrow">A less competitive environment</h2>
								<p>What is the disadvantage of Private Lessons？The student might think the biggest disadvantage of Private Lessons is the higher tuition fee as compared to the price of a Class Lesson. But, it’s worth paying more if the student makes more progress in an individual learning environment.</p>
								<p>The other disadvantage of Private Lessons is the student has no partner to learn with, in another words there is no competition environment, which will not help the student have more motivation on their learning. Especially for the exam preparation lesson.</p>
							</div><!--END OF PRIVATE LESSON-->
							<div class="link_wrap clearfix">
							<a class="back-top" href="#" title="Back to Home">Back to Home</a>
							<a title="Back to Home" href="#" class="to-top">Back to Top</a>
						</div>
						</div><!--END OF RIGHT COL-->
					</div>
				</div><!--END OF CONTENT-->
				<div id="footer">
					<div class="foot-wrap clearfix">
						<ul class="foot-links clearfix">
							<li><a title="link1" href="#">Site Map</a></li>
							<li>|</li>
							<li><a title="link2" href="#">Privacy Policy</a></li>
							<li>|</li>
							<li><a title="link3" href="#">Terms of Membership</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Terms &amp; Conditions</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Contact Us</a></li>
						</ul>
						<p>Copyright &copy; TutorNavi All rights reserved.</p>
						<a class="foot-logo" title="Logo" href="#"><img alt="Logo" src="images/logo2.png" /></a>
					</div>
					<div class="shadow"></div>
				</div><!--END OF FOOTER-->
				
			</div>
			<!--END OF PAGE CONTENT-->

		</div><!--END OF WRAPPER-->
	</body>
</html>
