<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Registration Complete</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/custom.css" rel="stylesheet" type="text/css" />
	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/pngfix.css">
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie6.css">
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie7.css">
	<![endif]-->
	</head>

	<body>
		<div class="wrapper clearfix">
			<div id="header" class="clearfix">
				<div class="header-top">
					<div class="inner-wrap clearfix">
						<p>Hong Kong Language Tutors Reviews Site</p>
						<ul class="clearfix">
							<li><a title="link2" href="#">Login</a></li>
							<li><a title="link1" href="#">Register</a></li>
						</ul>
					</div>
				</div><!--END OF HEADER TOP-->
				<div class="header-mid clearfix">
					<div class="inner-wrap clearfix">
						<a id="logo" title="logo" href="#"><img alt="logo" src="images/logo.jpg" /></a>
						<p class="greeting">Hello,  <span>Visitor</span>！</p>
						<div class="right">
							<ul class="quick-links clearfix">
								<li><a id="fave" title="FAVE" href="#">My Favorite</a></li>
								<li><a id="contact" title="CONTACT" href="#">Contact Us</a></li>
								<li><a id="map" title="SITE MAP" href="#">Site Map</a></li>
								<li><a id="faq" title="FAQ" href="#">FAQ</a></li>
							</ul><!--END OF QUICK LINKS-->
							<ul class="language clearfix">									
								<li><a title="Eng" href="#">ENG</a></li>
								<li><a title="Jap" href="#">日本語</a></li>
							</ul><!--END OF LANGUAGE-->
							<ul class="char-size clearfix">
								<li><a title="Bold" href="#">B</a></li>
								<li><a class="current" title="Medium" href="#">M</a></li>
								<li><a title="Small" href="#">S</a></li>
								<li class="title">Font Size:</li>
							</ul><!--END OF CHAR SIZE-->
							<a id="mypage" title="My Page" href="#">My Page</a>
						</div>
					</div>
				</div><!--END OF HEADER MID-->
				<div id="nav">
					<div class="inner-wrap clearfix">
						<ul class="clearfix">
							<li><a class="current" title="menu1" href="#">Home</a></li>
							<li><a title="menu2" href="#">Tutor Search</a></li>
							<li><a title="menu3" href="#">About Service</a></li>
							<li><a title="menu4" href="#">Community</a></li>
							<li><a title="menu5" href="#">Price List</a></li>
							<li class="last"><a title="menu6" href="#">Information</a></li>
						</ul>
					</div>
				</div><!--END OF NAV-->
			</div><!--END OF HEADER-->
			
			<!--START OF PAGE CONTENT-->
			<div class="content-wrap">
				<div id="content" class="clearfix">
					<ul class="crumbs clearfix">
						<li><a title="Home" href="#">Home</a></li>
						<li>></li>
						<li>Registration Finish</li>
					</ul>
					
					<div class="registration_wrap content_box clearfix">
						<h2 class="c_title">Registration Finish</h2>
						<div class="reg-bar">
							<ul class="regbar5 clearfix">
								<li class="li-0">Email Registration</li>
								<li class="li-1">Email Verification</li>
								<li class="li-2 min10">Profile Creation</li>
								<li class="li-3 min10">Profile Confirmation</li>
								<li class="li-4 min10">Registration Finish</li>
							</ul>
						</div>
						<h3>Congratulations ! Your TutorNavi ID Registration is Complete !</h3>
						<p>Your Registration Number is issued as follow</p>
						<p>Registration Number：<span>ｘｘｘｘｘｘ</span></p>
						<p>Note: This is not used for login, it is used for inquiries etc</p>
						<div class="ty clearfix">
							<p>Thank you for signing up to TutorNavi , Your TutorNavi Member Registration is Complete.</p>
							<p class="mt30">【To All Registered Members】</p>
							<p>Your Profile will be published when it has been approved.</p>
							<p>Please allow up to 48 hours for your profile’s approval.</p>
							<p class="mt30">Your Membership ID and Password will be sent to your registered email address automatically when your profile is approved.</p>
						<div class="btn-wrap">
								<input type="submit" id="backhome" value="Back to Home" />
						</div>
						</div>
					</div><!--END OF REGISRAION WRAP-->
					
				</div><!--END OF CONTENT-->
				<div id="footer">
					<div class="foot-wrap clearfix">
						<ul class="foot-links clearfix">
							<li><a title="link1" href="#">Site Map</a></li>
							<li>|</li>
							<li><a title="link2" href="#">Privacy Policy</a></li>
							<li>|</li>
							<li><a title="link3" href="#">Terms of Membership</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Terms &amp; Conditions</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Contact Us</a></li>
						</ul>
						<p>Copyright &copy; TutorNavi All rights reserved.</p>
						<a class="foot-logo" title="Logo" href="#"><img alt="Logo" src="images/logo2.png" /></a>
					</div>
					<div class="shadow"></div>
				</div><!--END OF FOOTER-->
				
			</div>
			<!--END OF PAGE CONTENT-->

		</div><!--END OF WRAPPER-->
	</body>
</html>
