<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>SEARCH TUTOR</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/custom.css" rel="stylesheet" type="text/css" />
	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/pngfix.css">
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie6.css">
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie7.css">
	<![endif]-->
	<!--[if IE]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="css/form.css">
	<![endif]-->
	<!--[if !IE]><!--><script type="text/javascript">  
	if (/*@cc_on!@*/false) {  
		document.documentElement.className+='ie10';  
	}  
	</script><!--<![endif]--> 
	</head>

	<body>
		<div class="wrapper clearfix">
			<div id="header" class="clearfix">
				<div class="header-top">
					<div class="inner-wrap clearfix">
						<p>Hong Kong Language Tutors Reviews Site</p>
						<ul class="clearfix">
							<li><a title="link2" href="#">Login</a></li>
							<li><a title="link1" href="#">Register</a></li>
						</ul>
					</div>
				</div><!--END OF HEADER TOP-->
				<div class="header-mid clearfix">
					<div class="inner-wrap clearfix">
						<a id="logo" title="logo" href="#"><img alt="logo" src="images/logo.jpg" /></a>
						<p class="greeting">Hello,  <span>Visitor</span>！</p>
						<div class="right">
							<ul class="quick-links clearfix">
								<li><a id="fave" title="FAVE" href="#">My Favorite</a></li>
								<li><a id="contact" title="CONTACT" href="#">Contact Us</a></li>
								<li><a id="map" title="SITE MAP" href="#">Site Map</a></li>
								<li><a id="faq" title="FAQ" href="#">FAQ</a></li>
							</ul><!--END OF QUICK LINKS-->
							<ul class="language clearfix">									
								<li><a title="Eng" href="#">ENG</a></li>
								<li><a title="Jap" href="#">日本語</a></li>
							</ul><!--END OF LANGUAGE-->
							<ul class="char-size clearfix">
								<li><a title="Bold" href="#">B</a></li>
								<li><a class="current" title="Medium" href="#">M</a></li>
								<li><a title="Small" href="#">S</a></li>
								<li class="title">Font Size:</li>
							</ul><!--END OF CHAR SIZE-->
							<a id="mypage" title="My Page" href="#">My Page</a>
						</div>
					</div>
				</div><!--END OF HEADER MID-->
				<div id="nav">
					<div class="inner-wrap clearfix">
						<ul class="clearfix">
							<li><a class="current" title="menu1" href="#">Home</a></li>
							<li><a title="menu2" href="#">Tutor Search</a></li>
							<li><a title="menu3" href="#">About Service</a></li>
							<li><a title="menu4" href="#">Community</a></li>
							<li><a title="menu5" href="#">Price List</a></li>
							<li class="last"><a title="menu6" href="#">Information</a></li>
						</ul>
					</div>
				</div><!--END OF NAV-->
			</div><!--END OF HEADER-->
			
			<!--START OF PAGE CONTENT-->
			<div class="content-wrap">
				<div id="content" class="clearfix">
					<ul class="crumbs clearfix">
						<li>Home</li>
						<li>></li>
						<li>Search Tutor</li>
					</ul>
					<div class="search_tutor clearfix">
						<div class="left_col clearfix">
							<div class="search-top">
								<p class="title">Search Tutor</p>
								<p>Select “Language”and “Area”, then click “Search” button.</p>
							</div>
							<div class="search-mid clearfix">
								<form action="post" method="post">
									<label class="lab1">Language (Must)</label>
									<select>
										<option>English</option>
										<option>Chinese</option>
										<option>Japanese</option>
									</select>
									<label class="lab2">Lesson Area (Must)</label>
									<select>
										<option>Online</option>
										<option>Home</option>
										<option>Cafe</option>
									</select>
									<div class="btn">
										<input type="submit" id="t_search" value="Search" />
										<input type="submit" id="t_adv" value="Advanced" />
									</div>
									<p>※For online language lesson,  please select language and “Online”,then click “Search” button.</p>
									<p>※You can also search for a specific tutor by clicking “Advanced” button.</p>
								</form>
							</div>
							<div class="search-last"></div>
						</div><!--END OF LEFT COL-->
							
						<div class="right_content clearfix">
							<h2>Language Tutor List</h2>
							<div class="top-right clearfix">
								<div class="icon_box clearfix">
									<div class="title">icon</div>
									<ul class="list1 clearfix">
										<li class="rev">reviews in total</li>
										<li class="fave">added as favorite</li>
										<li class="cam">webcam provided</li>
									</ul>
									<ul class="list2 clearfix">
										<li><img class="crown" alt="rank" src="images/img_crown1.jpg" height="15" /><span>tutor rank</span><img alt="star" src="images/icn_rank-star.jpg" /></li>
										<li>
											<img class="crown" alt="rank" src="images/img_crown2.jpg" height="15" />
											<span>tutor rank</span>
											<img alt="star" src="images/icn_rank-star.jpg" />
											<img alt="star" src="images/icn_rank-star.jpg" />
										</li>
										<li>
											<img class="crown" alt="rank" src="images/img_crown1.jpg" height="15" />
											<span>tutor rank</span>
											<img alt="star" src="images/icn_rank-star.jpg" />
											<img alt="star" src="images/icn_rank-star.jpg" />
											<img alt="star" src="images/icn_rank-star.jpg" />
										</li>
									</ul>
								</div><!--END OF ICON BOX-->
								<div class="search_section">
									<form class="clearfix" action="post" method="post">
										<input type="submit" id="search_word" value="Search" />
										<input type="text" value="China Business, Finance" id="kwords" />
										<label for="kwords">Search by keywords or nickname</label>
									</form>
									<p><a title="how to search" href="#">How to Search</a> Most Popular Keywords : China Business, Finance</p>
								</div>
							</div><!--END oF TOP RIghT-->
							<ul class="tl_menu clearfix">
								<li><a class="current" title="menu1" href="#">Show All</a></li>
								<li><a title="menu2" href="#">Tutor Rank</a></li>
								<li><a title="menu3" href="#">Tuition Fee</a></li>
								<li><a title="menu4" href="#">Tutor Review</a></li>
								<li><a title="menu5" href="#">Blog Updates</a></li>
								<li><a title="menu6" href="#">Login Time</a></li>
							</ul>
							<ul class="page_nav top clearfix">
								<li><a href="#" title="prev"><img src="images/page_prev.jpg" alt="prev" /></a></li>			
								<li><a href="#" title="prev">1</a></li>
								<li class="current"><a href="#" title="prev">2</a></li>
								<li><a href="#" title="prev">3</a></li>
								<li><a href="#" title="prev">4</a></li>
								<li><a href="#" title="prev">5</a></li>
								<li><a href="#" title="prev">6</a></li>
								<li><a href="#" title="prev">7</a></li>
								<li><a href="#" title="prev">8</a></li>
								<li><a href="#" title="prev">9</a></li>
								<li><a href="#" title="prev">10</a></li>
								<li><a href="#" title="prev"><img src="images/page_next.jpg" alt="prev" /></a></li>
							</ul>
							<div class="info_box">
								<div class="t_info clearfix">
									<div class="personal clearfix">
										<div class="rank_box clearfix">
											<img class="crown" alt="rank" src="images/img_crown2.jpg" height="19" />
											<img class="star" alt="star" src="images/stars.jpg" />
											<span>Tutor Rank</span>
										</div>
										<div class="pic">
											<img alt="star" src="images/img_profile-pic.jpg" />
										</div>
										<div class="v_blog">
											<a title="blogs" href="#">View Blogs</a>
										</div>
										<ul class="share clearfix">
											<li><a class="s1" title="mail" href="#"></a></li>
											<li><a class="s2" title="like" href="#"></a></li>
											<li><a class="s3" title="file" href="#"></a></li>
											<li><a class="s4" title="chat" href="#"></a></li>
										</ul>
									</div><!--end of personal-->
									<div class="details clearfix">
										<h2>
											<span class="name">Nickname (23)</span>
											<span class="flag"><img alt="us" src="images/us_flag.jpg" /></span>
										</h2>
										<div class="medal">
											<img alt="medal" src="images/icn_medal.jpg" />
											<span class="pop">Silver Member: ...</span>
										</div>
										<div class="offer">
											<span>Lesson Offer</span>
											<p>Business English TOEIC,Speaking</p>
										</div>
										<p>Hi everybody! I'm an American living in the south of France. I moved to 
											France 3 years ago. I'm completely fluent in French, as well as my native 
											English. I have a Bachelor's degree in psychology from an American 
											university and a ..<a class="more" title="read more" href="#">Read more </a>
										</p>
									</div>
									<div class="r_box clearfix">
										<ul class="clearfix">
											<li class="top">
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
											</li>
											<li class="bg">Native</li>
											<li>English</li>
											<li class="bg">Fluent</li>
											<li>Chinese Thai</li>
											<li class="bg">Tuition Fee</li>
											<li>200-250 HK Dollar</li>
										</ul>
										<div class="btm"></div>
										<a class="more" title="more" href="#">more</a>
									</div>
									<ul class="ratings clearfix">
										<li>
											<div class="rev">
												<span>Number of reviews written for this tutor</span>
											</div>
											172
										</li>
										<li><div class="fav"><span>Number of students who have made requests + students who have this tutor in their favorites</span></div>54</li>
										<li><div class="cam"><span>Tutor is available via web cam</span></div>Yes</li>
									</ul>
								</div><!--end of t_info-->
								<div class="t_info clearfix">
									<div class="personal clearfix">
										<div class="rank_box clearfix">
											<img class="crown" alt="rank" src="images/img_crown2.jpg" height="19" />
											<img class="star" alt="star" src="images/stars.jpg" />
											<span>Tutor Rank</span>
										</div>
										<div class="pic">
											<img alt="star" src="images/img_profile-pic.jpg" />
										</div>
										<div class="v_blog">
											<a title="blogs" href="#">View Blogs</a>
										</div>
										<ul class="share clearfix">
											<li><a class="s1" title="mail" href="#"></a></li>
											<li><a class="s2" title="like" href="#"></a></li>
											<li><a class="s3" title="file" href="#"></a></li>
											<li><a class="s4" title="chat" href="#"></a></li>
										</ul>
									</div><!--end of personal-->
									<div class="details clearfix">
										<h2>
											<span class="name">Nickname (23)</span>
											<span class="flag"><img alt="us" src="images/us_flag.jpg" /></span>
										</h2>
										<div class="medal"><img alt="medal" src="images/icn_platinum.jpg" />
											<span class="pop">Platinum Member: View and send messages for free</span>
											</div>
										<div class="offer">
											<span>Lesson Offer</span>
											<p>Business English TOEIC,Speaking</p>
										</div>
										<p>Hi everybody! I'm an American living in the south of France. I moved to 
											France 3 years ago. I'm completely fluent in French, as well as my native 
											English. I have a Bachelor's degree in psychology from an American 
											university and a ..<a class="more" title="read more" href="#">Read more </a>
										</p>
									</div>
									<div class="r_box clearfix">
										<ul class="clearfix">
											<li class="top">
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_empty.jpg" />
											</li>
											<li class="bg">Native</li>
											<li>English</li>
											<li class="bg">Fluent</li>
											<li>Chinese Thai</li>
											<li class="bg">Tuition Fee</li>
											<li>200-250 HK Dollar</li>
										</ul>
										<div class="btm"></div>
										<a class="more" title="more" href="#">more</a>
									</div>
									<ul class="ratings clearfix">
										<li>
											<div class="rev">
												<span>Number of reviews written for this tutor</span>
											</div>
											172
										</li>
										<li><div class="fav"><span>Number of students who have made requests + students who have this tutor in their favorites</span></div>54</li>
										<li><div class="cam"><span>Tutor is available via web cam</span></div>Yes</li>
									</ul>
								</div><!--end of t_info-->
								<div class="t_info clearfix">
									<div class="personal clearfix">
										<div class="rank_box clearfix">
											<img class="crown" alt="rank" src="images/img_crown2.jpg" height="19" />
											<img class="star" alt="star" src="images/stars.jpg" />
											<span>Tutor Rank</span>
										</div>
										<div class="pic">
											<img alt="star" src="images/img_profile-pic.jpg" />
										</div>
										<div class="v_blog">
											<a title="blogs" href="#">View Blogs</a>
										</div>
										<ul class="share clearfix">
											<li><a class="s1" title="mail" href="#"></a></li>
											<li><a class="s2" title="like" href="#"></a></li>
											<li><a class="s3" title="file" href="#"></a></li>
											<li><a class="s4" title="chat" href="#"></a></li>
										</ul>
									</div><!--end of personal-->
									<div class="details clearfix">
										<h2>
											<span class="name">Nickname (23)</span>
											<span class="flag"><img alt="us" src="images/us_flag.jpg" /></span>
											<span class="medal"><img alt="medal" src="images/icn_medal.jpg" /></span>
										</h2>
										<div class="offer">
											<span>Lesson Offer</span>
											<p>Business English TOEIC,Speaking</p>
										</div>
										<p>Hi everybody! I'm an American living in the south of France. I moved to 
											France 3 years ago. I'm completely fluent in French, as well as my native 
											English. I have a Bachelor's degree in psychology from an American 
											university and a ..<a class="more" title="read more" href="#">Read more </a>
										</p>
									</div>
									<div class="r_box clearfix">
										<ul class="clearfix">
											<li class="top">
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
											</li>
											<li class="bg">Native</li>
											<li>English</li>
											<li class="bg">Fluent</li>
											<li>Chinese Thai</li>
											<li class="bg">Tuition Fee</li>
											<li>200-250 HK Dollar</li>
										</ul>
										<div class="btm"></div>
										<a class="more" title="more" href="#">more</a>
									</div>
									<ul class="ratings clearfix">
										<li>
											<div class="rev">
												<span>Number of reviews written for this tutor</span>
											</div>
											172
										</li>
										<li><div class="fav"><span>Number of students who have made requests + students who have this tutor in their favorites</span></div>54</li>
										<li><div class="cam"><span>Tutor is available via web cam</span></div>Yes</li>
									</ul>
								</div><!--end of t_info-->
								<div class="t_info clearfix">
									<div class="personal clearfix">
										<div class="rank_box clearfix">
											<img class="crown" alt="rank" src="images/img_crown2.jpg" height="19" />
											<img class="star" alt="star" src="images/stars.jpg" />
											<span>Tutor Rank</span>
										</div>
										<div class="pic">
											<img alt="star" src="images/img_profile-pic.jpg" />
										</div>
										<div class="v_blog">
											<a title="blogs" href="#">View Blogs</a>
										</div>
										<ul class="share clearfix">
											<li><a class="s1" title="mail" href="#"></a></li>
											<li><a class="s2" title="like" href="#"></a></li>
											<li><a class="s3" title="file" href="#"></a></li>
											<li><a class="s4" title="chat" href="#"></a></li>
										</ul>
									</div><!--end of personal-->
									<div class="details clearfix">
										<h2>
											<span class="name">Nickname (23)</span>
											<span class="flag"><img alt="us" src="images/us_flag.jpg" /></span>
											<span class="medal"><img alt="medal" src="images/icn_medal.jpg" /></span>
										</h2>
										<div class="offer">
											<span>Lesson Offer</span>
											<p>Business English TOEIC,Speaking</p>
										</div>
										<p>Hi everybody! I'm an American living in the south of France. I moved to 
											France 3 years ago. I'm completely fluent in French, as well as my native 
											English. I have a Bachelor's degree in psychology from an American 
											university and a ..<a class="more" title="read more" href="#">Read more </a>
										</p>
									</div>
									<div class="r_box clearfix">
										<ul class="clearfix">
											<li class="top">
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
											</li>
											<li class="bg">Native</li>
											<li>English</li>
											<li class="bg">Fluent</li>
											<li>Chinese Thai</li>
											<li class="bg">Tuition Fee</li>
											<li>200-250 HK Dollar</li>
										</ul>
										<div class="btm"></div>
										<a class="more" title="more" href="#">more</a>
									</div>
									<ul class="ratings clearfix">
										<li>
											<div class="rev">
												<span>Number of reviews written for this tutor</span>
											</div>
											172
										</li>
										<li><div class="fav"><span>Number of students who have made requests + students who have this tutor in their favorites</span></div>54</li>
										<li><div class="cam"><span>Tutor is available via web cam</span></div>Yes</li>
									</ul>
								</div><!--end of t_info-->
								<div class="t_info clearfix">
									<div class="personal clearfix">
										<div class="rank_box clearfix">
											<img class="crown" alt="rank" src="images/img_crown2.jpg" height="19" />
											<img class="star" alt="star" src="images/stars.jpg" />
											<span>Tutor Rank</span>
										</div>
										<div class="pic">
											<img alt="star" src="images/img_profile-pic.jpg" />
										</div>
										<div class="v_blog">
											<a title="blogs" href="#">View Blogs</a>
										</div>
										<ul class="share clearfix">
											<li><a class="s1" title="mail" href="#"></a></li>
											<li><a class="s2" title="like" href="#"></a></li>
											<li><a class="s3" title="file" href="#"></a></li>
											<li><a class="s4" title="chat" href="#"></a></li>
										</ul>
									</div><!--end of personal-->
									<div class="details clearfix">
										<h2>
											<span class="name">Nickname (23)</span>
											<span class="flag"><img alt="us" src="images/us_flag.jpg" /></span>
											<span class="medal"><img alt="medal" src="images/icn_medal.jpg" /></span>
										</h2>
										<div class="offer">
											<span>Lesson Offer</span>
											<p>Business English TOEIC,Speaking</p>
										</div>
										<p>Hi everybody! I'm an American living in the south of France. I moved to 
											France 3 years ago. I'm completely fluent in French, as well as my native 
											English. I have a Bachelor's degree in psychology from an American 
											university and a ..<a class="more" title="read more" href="#">Read more </a>
										</p>
									</div>
									<div class="r_box clearfix">
										<ul class="clearfix">
											<li class="top">
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
											</li>
											<li class="bg">Native</li>
											<li>English</li>
											<li class="bg">Fluent</li>
											<li>Chinese Thai</li>
											<li class="bg">Tuition Fee</li>
											<li>200-250 HK Dollar</li>
										</ul>
										<div class="btm"></div>
										<a class="more" title="more" href="#">more</a>
									</div>
									<ul class="ratings clearfix">
										<li>
											<div class="rev">
												<span>Number of reviews written for this tutor</span>
											</div>
											172
										</li>
										<li><div class="fav"><span>Number of students who have made requests + students who have this tutor in their favorites</span></div>54</li>
										<li><div class="cam"><span>Tutor is available via web cam</span></div>Yes</li>
									</ul>
								</div><!--end of t_info-->
								<div class="t_info clearfix">
									<div class="personal clearfix">
										<div class="rank_box clearfix">
											<img class="crown" alt="rank" src="images/img_crown2.jpg" height="19" />
											<img class="star" alt="star" src="images/stars.jpg" />
											<span>Tutor Rank</span>
										</div>
										<div class="pic">
											<img alt="star" src="images/img_profile-pic.jpg" />
										</div>
										<div class="v_blog">
											<a title="blogs" href="#">View Blogs</a>
										</div>
										<ul class="share clearfix">
											<li><a class="s1" title="mail" href="#"></a></li>
											<li><a class="s2" title="like" href="#"></a></li>
											<li><a class="s3" title="file" href="#"></a></li>
											<li><a class="s4" title="chat" href="#"></a></li>
										</ul>
									</div><!--end of personal-->
									<div class="details clearfix">
										<h2>
											<span class="name">Nickname (23)</span>
											<span class="flag"><img alt="us" src="images/us_flag.jpg" /></span>
											<span class="medal"><img alt="medal" src="images/icn_medal.jpg" /></span>
										</h2>
										<div class="offer">
											<span>Lesson Offer</span>
											<p>Business English TOEIC,Speaking</p>
										</div>
										<p>Hi everybody! I'm an American living in the south of France. I moved to 
											France 3 years ago. I'm completely fluent in French, as well as my native 
											English. I have a Bachelor's degree in psychology from an American 
											university and a ..<a class="more" title="read more" href="#">Read more </a>
										</p>
									</div>
									<div class="r_box clearfix">
										<ul class="clearfix">
											<li class="top">
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
												<img alt="star" src="images/star_filled.jpg" />
											</li>
											<li class="bg">Native</li>
											<li>English</li>
											<li class="bg">Fluent</li>
											<li>Chinese Thai</li>
											<li class="bg">Tuition Fee</li>
											<li>200-250 HK Dollar</li>
										</ul>
										<div class="btm"></div>
										<a class="more" title="more" href="#">more</a>
									</div>
									<ul class="ratings clearfix">
										<li>
											<div class="rev">
												<span>Number of reviews written for this tutor</span>
											</div>
											172
										</li>
										<li><div class="fav"><span>Number of students who have made requests + students who have this tutor in their favorites</span></div>54</li>
										<li><div class="cam"><span>Tutor is available via web cam</span></div>Yes</li>
									</ul>
								</div><!--end of t_info-->
							
							</div><!--end of info-box-->
							<ul class="page_nav bottom clearfix">
								<li><a href="#" title="prev"><img src="images/page_next.jpg" alt="prev" /></a></li>
								<li><a href="#" title="prev">10</a></li>
								<li><a href="#" title="prev">9</a></li>
								<li><a href="#" title="prev">8</a></li>
								<li><a href="#" title="prev">7</a></li>
								<li><a href="#" title="prev">6</a></li>
								<li><a href="#" title="prev">5</a></li>
								<li><a href="#" title="prev">4</a></li>
								<li><a href="#" title="prev">3</a></li>
								<li class="current"><a href="#" title="prev">2</a></li>
								<li><a href="#" title="prev">1</a></li>
								<li><a href="#" title="prev"><img src="images/page_prev.jpg" alt="prev" /></a></li>										
							</ul>
							<div class="link_wrap clearfix">
								<a class="back-top" href="#" title="Back to Home">Back to Home</a>
								<a title="Back to Home" href="#" class="to-top">Back to Top</a>
							</div>
						</div><!--END OF RIGHT COL-->
					</div><!--end of search_tutor-->
				</div><!--END OF CONTENT-->
				<div id="footer">
					<div class="foot-wrap clearfix">
						<ul class="foot-links clearfix">
							<li><a title="link1" href="#">Site Map</a></li>
							<li>|</li>
							<li><a title="link2" href="#">Privacy Policy</a></li>
							<li>|</li>
							<li><a title="link3" href="#">Terms of Membership</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Terms &amp; Conditions</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Contact Us</a></li>
						</ul>
						<p>Copyright &copy; TutorNavi All rights reserved.</p>
						<a class="foot-logo" title="Logo" href="#"><img alt="Logo" src="images/logo2.png" /></a>
					</div>
					<div class="shadow"></div>
				</div><!--END OF FOOTER-->
				
			</div>
			<!--END OF PAGE CONTENT-->

		</div><!--END OF WRAPPER-->
	</body>
</html>
