<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Terms of Membership</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/custom.css" rel="stylesheet" type="text/css" />
	<!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/pngfix.css">
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie6.css">
	<![endif]-->
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="screen, projection" href="css/ie7.css">
	<![endif]-->
	</head>

	<body>
		<div class="wrapper clearfix">
			<div id="header" class="clearfix">
				<div class="header-top">
					<div class="inner-wrap clearfix">
						<p>Hong Kong Language Tutors Reviews Site</p>
						<ul class="clearfix">
							<li><a title="link2" href="#">Login</a></li>
							<li><a title="link1" href="#">Register</a></li>
						</ul>
					</div>
				</div><!--END OF HEADER TOP-->
				<div class="header-mid clearfix">
					<div class="inner-wrap clearfix">
						<a id="logo" title="logo" href="#"><img alt="logo" src="images/logo.jpg" /></a>
						<p class="greeting">Hello,  <span>Visitor</span>！</p>
						<div class="right">
							<ul class="quick-links clearfix">
								<li><a id="fave" title="FAVE" href="#">My Favorite</a></li>
								<li><a id="contact" title="CONTACT" href="#">Contact Us</a></li>
								<li><a id="map" title="SITE MAP" href="#">Site Map</a></li>
								<li><a id="faq" title="FAQ" href="#">FAQ</a></li>
							</ul><!--END OF QUICK LINKS-->
							<ul class="language clearfix">									
								<li><a title="Eng" href="#">ENG</a></li>
								<li><a title="Jap" href="#">日本語</a></li>
							</ul><!--END OF LANGUAGE-->
							<ul class="char-size clearfix">
								<li><a title="Bold" href="#">B</a></li>
								<li><a class="current" title="Medium" href="#">M</a></li>
								<li><a title="Small" href="#">S</a></li>
								<li class="title">Font Size:</li>
							</ul><!--END OF CHAR SIZE-->
							<a id="mypage" title="My Page" href="#">My Page</a>
						</div>
					</div>
				</div><!--END OF HEADER MID-->
				<div id="nav">
					<div class="inner-wrap clearfix">
						<ul class="clearfix">
							<li><a class="current" title="menu1" href="#">Home</a></li>
							<li><a title="menu2" href="#">Tutor Search</a></li>
							<li><a title="menu3" href="#">About Service</a></li>
							<li><a title="menu4" href="#">Community</a></li>
							<li><a title="menu5" href="#">Price List</a></li>
							<li class="last"><a title="menu6" href="#">Information</a></li>
						</ul>
					</div>
				</div><!--END OF NAV-->
			</div><!--END OF HEADER-->
			
			<!--START OF PAGE CONTENT-->
			<div class="content-wrap">
				<div id="content" class="clearfix">
					<ul class="crumbs clearfix">
						<li><a title="Home" href="#">Home</a></li>
						<li>></li>
						<li>Terms of Membership</li>
					</ul>
					
					<div class="generic_wrap policy clearfix">
						<h2>Terms of Membership</h2>
						<ol class="clearfix">
							<li>
								About "Terms of Membership"
								<p>(1) This language-tutor matching site "TutorNavi" is offered through ("the Website") and provided and operated by TutorNavi Co Ltd. 
       ("we" or "us"). The express terms of this "Terms of membership" represents the entire agreement between you and us and you relating to its 
       subject matter by registering for membership with us. </p>
								<p>(2) By using the services as a member, you are subject to accept and agree to these Terms of Membership. </p>
							</li>
							<li>
								Membership definition
								<p> People who have completed the registration on the website and have been approved by us are registered members.</p>
							</li>
							<li>
								Membership cancellation
								<p>(1) The membership may be cancelled in the following ways. </p>
								<p>(i) Go to the "Contact us" page on the Website and choose "Cancellation of membership" from the "Inquiry type" and write "Cancel membership" in the "Inquiry title". In the "Inquiry content", please enter your member ID and login ID and let us know why you want to cancel. </p>
								<p>(ii) Send an e-mail to our support mail address,As the "subject", please write "Cancel membership". In the message, please let us know that why 
        you want to cancel. Please write your member ID and login ID in the message. Once we receive the notice and confirm it, the cancellation will 
        be complete.</p>
								<p>(2) Once your cancellation is complete, your information will not be displayed on the Website.</p>
							</li>
							<li>
								Member ID,Login ID and Password management
								<p>(1) We will issue Member ID to each member. When you need to contact us,please give us your Member ID.</p>
								<p>(2) You are responsible for the use and management of the Member ID,Login ID and password. </p>
								<p>(3) You must not give or rent the login ID and password to any other person or third party. </p>
								<p>(4) We will accept no responsibility for any damage caused by a third party using your login ID and password 
        (whether innocent, negligent or otherwise). </p>
								<p>(5) If you lose your login ID or password, please inform us immediately and follow our instruction. </p>
								<p>(6) Access to the Website by login ID and password is solely for registered members. </p>
								<p>(7) Member ID is not the same as your login ID.Login ID is your registered email address.</p>
								</li>
							<li>
								Change of registered information
								<p>If there is any change in registration information, please notify us of the change immediately. You are liable for any loss due to the notification delay.</p>
							</li>
							<li>
								Termination of membership
								<p>(1) We will terminate your membership immediately without notice under the following circumstances: </p>
								<p>(i) Interferance with our services. </p>
								<p>(ii) Failure to comply in full with any of the Terms and Conditions. </p>
								<p>(iii) Unable to contact you by registered e-mail or other methods. </p>
								<p>(iv) Inappropriate behavior. </p>
								<p>(2) We are not liable for any direct,indirect or consequential losses or expenses suffered by you due to the termination of membership by any of 
       the above mentioned circumstances. You are responsible for compliance with all relevant Laws, if any, for any and all losses caused to us or a    
       third party, even if your membership has already been terminated. </p>
							</li>
							<li>
								Information deletion
								<p>We will delete inappropriate registration information with or without notice to you.</p>
							</li>
							<li>
								Receipt documents
								<p> We will not return any document you submit to us (e.g. copy of identity document etc.).</p>
							</li>
							<li>
								Privacy policy
								<p>We manage user’s personal information under our "Personal Information Handling Rule". Please refer to the "Privacy Policy" page for details.</p>
							</li>
							<li>
								Changes to the "Terms and Conditions"
								<p>These"Terms and Conditions" may change at any time without notice. Any modification will be published on the website for 1 month and your 
       continued use of this service is subject to the new "Terms and Conditions". </p>
							</li>
						</ol>
						<div class="link_wrap clearfix">
							<a title="Back to Home" href="#" class="back-top">Back to Home</a>
							<a class="to-top" href="#" title="Back to Home">Back to Top</a>
						</div>
					</div><!--END OF REGISRAION WRAP-->
					
				</div><!--END OF CONTENT-->
				<div id="footer">
					<div class="foot-wrap clearfix">
						<ul class="foot-links clearfix">
							<li><a title="link1" href="#">Site Map</a></li>
							<li>|</li>
							<li><a title="link2" href="#">Privacy Policy</a></li>
							<li>|</li>
							<li><a title="link3" href="#">Terms of Membership</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Terms &amp; Conditions</a></li>
							<li>|</li>
							<li><a title="link4" href="#">Contact Us</a></li>
						</ul>
						<p>Copyright &copy; TutorNavi All rights reserved.</p>
						<a class="foot-logo" title="Logo" href="#"><img alt="Logo" src="images/logo2.png" /></a>
					</div>
					<div class="shadow"></div>
				</div><!--END OF FOOTER-->
				
			</div>
			<!--END OF PAGE CONTENT-->

		</div><!--END OF WRAPPER-->
	</body>
</html>
